<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zianedu.api.mapper.BookStoreMapper">

    <select id="selectBookListFromMenuCtgKey" resultType="BookBannerVO">
        SELECT B.G_KEY, B.NAME as goodsName, B.IMAGE_LIST
        FROM T_CATEGORY_GOODS A
        INNER JOIN T_GOODS B
        ON A.G_KEY = B.G_KEY
        WHERE A.CTG_KEY = #{ctgKey}
        AND B.TYPE = 3
        AND B.IS_SHOW = 1
        AND B.IS_SELL = 1
        ORDER BY B.G_KEY DESC
        OFFSET 0 ROWS FETCH NEXT #{listLimit} ROWS ONLY
    </select>

    <select id="selectBookListFromLeftMenuCtgKey" resultType="BookListVO">
        SELECT B.G_KEY, B.NAME as goodsName, B.IMAGE_LIST, C.WRITER, TO_CHAR(C.PUBLISH_DATE, 'YYYY-MM-DD') as publishDate,
                D.NAME, E.PRICE, E.SELL_PRICE, E.POINT,
                (SELECT PRICE_KEY FROM T_GOODS_PRICE_OPTION T WHERE T.G_KEY = B.G_KEY) as priceKey
        FROM T_CATEGORY_GOODS A
        INNER JOIN T_GOODS B
        ON A.G_KEY = B.G_KEY
        INNER JOIN T_BOOK C
        ON B.G_KEY = C.G_KEY
        LEFT JOIN T_CP D
        ON B.CP_KEY = D.CP_KEY
        LEFT JOIN T_GOODS_PRICE_OPTION E
        ON B.G_KEY = E.G_KEY
        WHERE A.CTG_KEY = #{ctgKey}
        AND B.TYPE = 3
        AND B.IS_SHOW = 1
        AND B.IS_SELL = 1
        ORDER BY B.G_KEY DESC
        OFFSET #{startNumber} ROWS FETCH NEXT #{listLimit} ROWS ONLY
    </select>

    <select id="selectBookListFromLeftMenuCtgKeyCount" resultType="Integer">
        SELECT COUNT(B.G_KEY)
        FROM T_CATEGORY_GOODS A
        INNER JOIN T_GOODS B
        ON A.G_KEY = B.G_KEY
        WHERE A.CTG_KEY = #{ctgKey}
        AND B.TYPE = 3
        AND B.IS_SHOW = 1
        AND B.IS_SELL = 1
        ORDER BY B.G_KEY DESC
    </select>

    <select id="selectBookListFromLeftMenuCtgKeyAtBest" resultType="BookListVO">
        SELECT B.G_KEY, B.NAME as goodsName, B.IMAGE_LIST, C.WRITER, TO_CHAR(C.PUBLISH_DATE, 'YYYY-MM-DD') as publishDate,
                D.NAME, E.PRICE, E.SELL_PRICE, E.POINT,
                (SELECT PRICE_KEY FROM T_GOODS_PRICE_OPTION T WHERE T.G_KEY = B.G_KEY) as priceKey
        FROM T_CATEGORY_GOODS A
        INNER JOIN T_GOODS B
        ON A.G_KEY = B.G_KEY
        INNER JOIN T_BOOK C
        ON B.G_KEY = C.G_KEY
        LEFT JOIN T_CP D
        ON B.CP_KEY = D.CP_KEY
        LEFT JOIN T_GOODS_PRICE_OPTION E
        ON B.G_KEY = E.G_KEY
        WHERE A.CTG_KEY IN (847, 848, 849, 850, 851)
        AND B.TYPE = 3
        AND B.IS_SHOW = 1
        AND B.IS_SELL = 1
        ORDER BY B.G_KEY DESC
    </select>

</mapper>
