<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zianedu.api.mapper.EventMapper">

    <select id="selectEventList" resultType="TEventVO">
        SELECT
            IDX, EVENT_TITLE, EVENT_DESC,
            CONCAT( CONCAT( TO_CHAR(EVENT_START_DATE, 'YYYY.MM.DD'), ' ~ '),  TO_CHAR(EVENT_END_DATE, 'YYYY.MM.DD')) as eventTerm,
            TARGET_NAME,
            THUMBNAIL_PATH,
            TO_CHAR(CREATE_DATE, 'YYYY.MM.DD') as create_date
        FROM T_EVENT
        WHERE 1=1
        <if test="eventType == 'PROCEED'">
        <![CDATA[
            AND EVENT_START_DATE <= sysdate
        ]]>
            AND EVENT_END_DATE >= sysdate
        </if>
        <if test="eventType == 'DEAD'">
        <![CDATA[
            AND EVENT_START_DATE < sysdate
        ]]>
        <![CDATA[
            AND EVENT_END_DATE < sysdate
        ]]>
        </if>
        <if test="searchType == 'title'">
            AND EVENT_TITLE LIKE '%'||#{searchText}||'%'
        </if>
        <if test="searchType == 'contents'">
            AND EVENT_DESC LIKE '%'||#{searchText}||'%'
        </if>
        ORDER BY CREATE_DATE DESC
        OFFSET #{startNumber} ROWS FETCH NEXT #{listLimitNumber} ROWS ONLY
    </select>

    <select id="selectEventListCount" resultType="int">
        SELECT COUNT (IDX)
        FROM T_EVENT
        WHERE 1=1
        <if test="eventType == 'PROCEED'">
            <![CDATA[
            AND EVENT_START_DATE <= sysdate
        ]]>
            AND EVENT_END_DATE >= sysdate
        </if>
        <if test="eventType == 'DEAD'">
            <![CDATA[
            AND EVENT_START_DATE < sysdate
        ]]>
            <![CDATA[
            AND EVENT_END_DATE < sysdate
        ]]>
        </if>
        <if test="searchType == 'title'">
            AND EVENT_TITLE LIKE '%'||#{searchText}||'%'
        </if>
        <if test="searchType == 'contents'">
            AND EVENT_DESC LIKE '%'||#{searchText}||'%'
        </if>
    </select>

    <select id="selectEventDetailInfo" resultType="TEventVO">
        SELECT IDX, EVENT_TITLE, EVENT_DESC,
               TO_CHAR(EVENT_START_DATE, 'YYYY-MM-DD') as EVENT_START_DATE,
               TO_CHAR(EVENT_END_DATE, 'YYYY-MM-DD') as EVENT_END_DATE,
               THUMBNAIL_PATH, TARGET_URL, TARGET_NAME, CREATE_DATE
        FROM T_EVENT WHERE IDX = #{idx}
    </select>

    <insert id="insertTEvent" parameterType="TEventVO">
        <selectKey resultType="Integer" keyProperty="idx" order="BEFORE">
            SELECT T_EVENT_SEQ.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO T_EVENT
        (
            IDX, EVENT_TITLE, EVENT_DESC, EVENT_START_DATE, EVENT_END_DATE, THUMBNAIL_PATH, TARGET_URL, TARGET_NAME
        )
        VALUES
        (
            #{idx}, #{eventTitle}, #{eventDesc}, #{eventStartDate}, #{eventEndDate}, #{thumbnailPath}, #{targetUrl}, #{targetName}
        )
    </insert>

    <update id="updateTEvent" parameterType="TEventVO">
        UPDATE T_EVENT
        <set>
            <if test="eventTitle != ''">EVENT_TITLE = #{eventTitle},</if>
            <if test="eventDesc != ''">EVENT_DESC = #{eventDesc},</if>
            <if test="eventStartDate != ''">EVENT_START_DATE = #{eventStartDate},</if>
            <if test="eventEndDate != ''">EVENT_END_DATE = #{eventEndDate},</if>
            <if test="thumbnailPath != ''">THUMBNAIL_PATH = #{thumbnailPath},</if>
            <if test="targetUrl != ''">TARGET_URL = #{targetUrl},</if>
            <if test="targetUrl != ''">TARGET_NAME = #{targetUrl},</if>
        </set>
        WHERE IDX = #{idx}
    </update>

</mapper>
