<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zianedu.api.mapper.ExamMapper">

    <select id="selectGiChulProblemList" resultType="TExamUserVO">
        SELECT
            A.EXAM_KEY, A.NAME, A.PRINT_QUESTION_FILE, A.PRINT_COMMENTARY_FILE,
           (SELECT COUNT(EXAM_USER_KEY) FROM T_EXAM_USER WHERE J_G_KEY = 0 AND USER_KEY = #{userKey} AND EXAM_KEY = A.EXAM_KEY) AS isComplete,
           (SELECT NAME FROM T_CATEGORY WHERE CTG_KEY = A.CLASS_CTG_KEY) as classCtgName,
           (SELECT NAME FROM T_CATEGORY WHERE CTG_KEY = A.SUBJECT_CTG_KEY) as subjectCtgName,
           (SELECT NAME FROM T_CATEGORY WHERE CTG_KEY = A.CLASS_GROUP_CTG_KEY) as groupCtgName
        FROM T_EXAM_MASTER A
        WHERE 1=1
        AND IS_GICHUL = 1
        <!-- 급수 검색 -->
        <if test="groupCtgKey > 0">
            AND A.CLASS_GROUP_CTG_KEY = #{groupCtgKey}
        </if>
        <!-- 직렬 검색 -->
        <if test="classCtgKey > 0">
            AND A.CLASS_CTG_KEY = #{classCtgKey}
        </if>
        <!-- 과목 검색 -->
        <if test="subjectCtgKey > 0">
            AND A.SUBJECT_CTG_KEY = #{subjectCtgKey}
        </if>
        ORDER BY EXAM_KEY ASC
    </select>

    <select id="selectGiChulProblemListByComplete" resultType="TExamUserVO">
        SELECT T.*
        FROM (
            SELECT
                A.EXAM_KEY, A.NAME, A.PRINT_QUESTION_FILE, A.PRINT_COMMENTARY_FILE,
                (SELECT COUNT(EXAM_USER_KEY) FROM T_EXAM_USER WHERE J_G_KEY = 0 AND USER_KEY = #{userKey} AND EXAM_KEY = A.EXAM_KEY) AS isComplete,
                (SELECT EXAM_USER_KEY FROM T_EXAM_USER WHERE USER_KEY = #{userKey} and isComplate = 1 AND EXAM_KEY = A.EXAM_KEY) AS examUserKey,
                (SELECT NAME FROM T_CATEGORY WHERE CTG_KEY = A.CLASS_CTG_KEY) as classCtgName,
                (SELECT NAME FROM T_CATEGORY WHERE CTG_KEY = A.SUBJECT_CTG_KEY) as subjectCtgName,
                (SELECT NAME FROM T_CATEGORY WHERE CTG_KEY = A.CLASS_GROUP_CTG_KEY) as groupCtgName
            FROM T_EXAM_MASTER A
            WHERE 1=1
            AND IS_GICHUL = 1
            <!-- 급수 검색 -->
            <if test="groupCtgKey > 0">
                AND A.CLASS_GROUP_CTG_KEY = #{groupCtgKey}
            </if>
            <!-- 직렬 검색 -->
            <if test="classCtgKey > 0">
                AND A.CLASS_CTG_KEY = #{classCtgKey}
            </if>
            <!-- 과목 검색 -->
            <if test="subjectCtgKey > 0">
                AND A.SUBJECT_CTG_KEY = #{subjectCtgKey}
            </if>
            ORDER BY EXAM_KEY ASC
        ) T
        WHERE T.isComplete = 1
    </select>

    <select id="selectDiagnosisEvaluationExamList" resultType="TExamUserVO">
        SELECT
            A.EXAM_KEY, A.NAME, A.PRINT_QUESTION_FILE, A.PRINT_COMMENTARY_FILE,
            TO_CHAR(A.ACCEPT_START_DATE, 'YYYY-MM-DD hh24:mi:ss') as acceptStartDate,
            TO_CHAR(A.ACCEPT_END_DATE, 'YYYY-MM-DD hh24:mi:ss') as acceptEndDate,
            (SELECT COUNT(EXAM_USER_KEY) FROM T_EXAM_USER WHERE J_G_KEY = 0 AND USER_KEY = #{userKey} AND EXAM_KEY = A.EXAM_KEY) AS isComplete,
            (SELECT NAME FROM T_CATEGORY WHERE CTG_KEY = A.CLASS_CTG_KEY) as classCtgName,
            (SELECT NAME FROM T_CATEGORY WHERE CTG_KEY = A.SUBJECT_CTG_KEY) as subjectCtgName,
            (SELECT NAME FROM T_CATEGORY WHERE CTG_KEY = A.CLASS_GROUP_CTG_KEY) as groupCtgName
        FROM T_EXAM_MASTER A
        WHERE A.EXAM_KEY = 212
    </select>

    <select id="selectDiagnosisEvaluationCompleteList" resultType="TExamUserVO">
        SELECT T.*
        FROM (
            SELECT
                A.EXAM_KEY, A.NAME, A.PRINT_QUESTION_FILE, A.PRINT_COMMENTARY_FILE,
                TO_CHAR(A.ACCEPT_START_DATE, 'YYYY-MM-DD hh24:mi:ss') as acceptStartDate,
                TO_CHAR(A.ACCEPT_END_DATE, 'YYYY-MM-DD hh24:mi:ss') as acceptEndDate,
                (SELECT COUNT(EXAM_USER_KEY) FROM T_EXAM_USER WHERE J_G_KEY = 0 AND USER_KEY = #{userKey} AND EXAM_KEY = A.EXAM_KEY) AS isComplete,
                (SELECT EXAM_USER_KEY FROM T_EXAM_USER WHERE USER_KEY =  #{userKey} and isComplate = 1 AND EXAM_KEY = A.EXAM_KEY) AS examUserKey,
                (SELECT NAME FROM T_CATEGORY WHERE CTG_KEY = A.CLASS_CTG_KEY) as classCtgName,
                (SELECT NAME FROM T_CATEGORY WHERE CTG_KEY = A.SUBJECT_CTG_KEY) as subjectCtgName,
                (SELECT NAME FROM T_CATEGORY WHERE CTG_KEY = A.CLASS_GROUP_CTG_KEY) as groupCtgName
            FROM T_EXAM_MASTER A
            WHERE A.EXAM_KEY = 212
       ) T
       WHERE T.isComplete = 1
    </select>

    <select id="selectWeekBigExamList" resultType="TExamUserVO">
        SELECT
            A.EXAM_KEY, A.NAME, A.PRINT_QUESTION_FILE, A.PRINT_COMMENTARY_FILE,
            TO_CHAR(A.ACCEPT_START_DATE, 'YYYY-MM-DD hh24:mi:ss') as acceptStartDate,
            TO_CHAR(A.ACCEPT_END_DATE, 'YYYY-MM-DD hh24:mi:ss') as acceptEndDate,
           (SELECT COUNT(EXAM_USER_KEY) FROM T_EXAM_USER WHERE J_G_KEY = 0 AND USER_KEY = #{userKey} AND EXAM_KEY = A.EXAM_KEY) AS isComplete,
           (SELECT NAME FROM T_CATEGORY WHERE CTG_KEY = A.CLASS_CTG_KEY) as classCtgName,
           (SELECT NAME FROM T_CATEGORY WHERE CTG_KEY = A.SUBJECT_CTG_KEY) as subjectCtgName,
           (SELECT NAME FROM T_CATEGORY WHERE CTG_KEY = A.CLASS_GROUP_CTG_KEY) as groupCtgName
        FROM T_EXAM_MASTER A
        WHERE 1=1
        AND A.IS_REAL_FREE = 1
        AND A.IS_GICHUL = 0
        AND A.EXAM_KEY != 212
        ORDER BY EXAM_KEY ASC
    </select>

    <select id="selectWeekBigExamAchievementManagementList" resultType="TExamUserVO">
        SELECT T.*
        FROM (
            SELECT
                A.EXAM_KEY, A.NAME, A.PRINT_QUESTION_FILE, A.PRINT_COMMENTARY_FILE,
                TO_CHAR(A.ACCEPT_START_DATE, 'YYYY-MM-DD hh24:mi:ss') as acceptStartDate,
                TO_CHAR(A.ACCEPT_END_DATE, 'YYYY-MM-DD hh24:mi:ss') as acceptEndDate,
               (SELECT COUNT(EXAM_USER_KEY) FROM T_EXAM_USER WHERE J_G_KEY = 0 AND USER_KEY = #{userKey} AND EXAM_KEY = A.EXAM_KEY) AS isComplete,
               (SELECT EXAM_USER_KEY FROM T_EXAM_USER WHERE USER_KEY =  #{userKey} and isComplate = 1 AND EXAM_KEY = A.EXAM_KEY) AS examUserKey,
               (SELECT NAME FROM T_CATEGORY WHERE CTG_KEY = A.CLASS_CTG_KEY) as classCtgName,
               (SELECT NAME FROM T_CATEGORY WHERE CTG_KEY = A.SUBJECT_CTG_KEY) as subjectCtgName,
               (SELECT NAME FROM T_CATEGORY WHERE CTG_KEY = A.CLASS_GROUP_CTG_KEY) as groupCtgName
            FROM T_EXAM_MASTER A
            WHERE 1=1
            AND A.IS_REAL_FREE = 1
            AND A.IS_GICHUL = 0
            AND A.EXAM_KEY != 212
            ORDER BY EXAM_KEY ASC
         ) T
       WHERE T.isComplete = 1
       AND T.examUserKey IS NOT NULL
    </select>
    <!-- 모의고사 성적보기 상세 화면 상단 정보 (응시번호, 이름 )-->
    <select id="selectExamResultHeaderInfo" resultType="TExamUserVO">
        SELECT
            A.*,
            (SELECT NAME FROM T_USER WHERE USER_KEY = A.USER_KEY) as userName
        FROM T_EXAM_USER A
        WHERE A.EXAM_USER_KEY = #{examUserKey}
    </select>
    <!-- 모의고사 성적보기 상세 화면 상단 응시과목 정보 -->
    <select id="selectExamSubjectNameList" resultType="String">
        SELECT C.NAME
        FROM T_EXAM_SUBJECT_USER A
        LEFT JOIN T_EXAM_QUESTION_BANK_SUBJECT B
        ON A.EXAM_QUES_BANK_SUBJECT_KEY = B.EXAM_QUESTION_BANK_SUBJECT_KEY
        INNER JOIN T_CATEGORY C
        ON B.SUBJECT_CTG_KEY = C.CTG_KEY
        WHERE A.EXAM_USER_KEY = #{examUserKey}
    </select>

    <select id="selectExamSubjectStaticsList" resultType="ExamSubjectStaticsVO">
        SELECT C.NAME as subjectName,
        (
                SELECT count(BANK_SUBJECT_QUES_LINK_KEY)
                FROM T_BANK_SUBJECT_QUES_LINK
                WHERE EXAM_QUES_BANK_SUBJECT_KEY = B.EXAM_QUESTION_BANK_SUBJECT_KEY
        ) as questionCnt,

        (
                SELECT COUNT(TT.EXAM_QUESTION_USER_KEY)
                FROM T_BANK_SUBJECT_QUES_LINK T
                LEFT JOIN T_EXAM_QUESTION_USER TT
                ON T.EXAM_QUES_BANK_KEY = TT.EXAM_QUESTION_BANK_KEY
                WHERE T.EXAM_QUES_BANK_SUBJECT_KEY = A.EXAM_QUES_BANK_SUBJECT_KEY
                AND TT.USER_KEY = A.USER_KEY
                AND TT.SCORE = 1

        ) as answerCnt,
        (
                SELECT COUNT(EXAM_USER_KEY) as cnt FROM T_EXAM_USER WHERE EXAM_KEY = A.EXAM_KEY
                AND ISSTART = 1
                AND T_EXAM_USER.ISCOMPLATE = 1
        ) as totalAnswerCnt,
        A.*, B.*
        FROM T_EXAM_SUBJECT_USER A
        LEFT JOIN T_EXAM_QUESTION_BANK_SUBJECT B
        ON A.EXAM_QUES_BANK_SUBJECT_KEY = B.EXAM_QUESTION_BANK_SUBJECT_KEY
        INNER JOIN T_CATEGORY C
        ON B.SUBJECT_CTG_KEY = C.CTG_KEY
        WHERE A.EXAM_USER_KEY = #{examUserKey}
    </select>

    <select id="selectExamSubjectGrade" resultType="Integer">
        SELECT ZZ.NUM FROM (
            SELECT  ROW_NUMBER() OVER(ORDER BY Z.cnt desc) NUM, Z.* FROM (
                SELECT COUNT(*) as cnt, TT.USER_KEY
                FROM T_BANK_SUBJECT_QUES_LINK T
                LEFT JOIN T_EXAM_QUESTION_USER TT
                ON T.EXAM_QUES_BANK_KEY = TT.EXAM_QUESTION_BANK_KEY
                WHERE T.EXAM_QUES_BANK_SUBJECT_KEY = #{examQuesBankSubjectKey}
                AND TT.SCORE = 1
                AND TT.USER_KEY IN ( SELECT USER_KEY FROM T_EXAM_USER WHERE EXAM_KEY = #{examKey} AND ISSTART = 1 AND T_EXAM_USER.ISCOMPLATE = 1 )
                GROUP BY TT.USER_KEY
            )Z
            ORDER BY Z.cnt desc
        )ZZ
        WHERE ZZ.USER_KEY = #{userKey}
    </select>

</mapper>
