<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zianedu.api.mapper.ExamMapper">

    <select id="selectGiChulProblemList" resultType="TExamUserVO">
        SELECT
            A.EXAM_KEY, A.NAME, A.PRINT_QUESTION_FILE, A.PRINT_COMMENTARY_FILE,
           (SELECT COUNT(EXAM_USER_KEY) FROM T_EXAM_USER WHERE J_G_KEY = 0 AND USER_KEY = #{userKey} AND EXAM_KEY = A.EXAM_KEY) AS isComplete,
           (SELECT NAME FROM T_CATEGORY WHERE CTG_KEY = A.CLASS_CTG_KEY) as classCtgName,
           (SELECT NAME FROM T_CATEGORY WHERE CTG_KEY = A.SUBJECT_CTG_KEY) as subjectCtgName,
           (SELECT NAME FROM T_CATEGORY WHERE CTG_KEY = A.CLASS_GROUP_CTG_KEY) as groupCtgName
        FROM T_EXAM_MASTER A
        WHERE 1=1
        AND IS_GICHUL = 1
        <!-- 급수 검색 -->
        <if test="groupCtgKey > 0">
            AND A.CLASS_GROUP_CTG_KEY = #{groupCtgKey}
        </if>
        <!-- 직렬 검색 -->
        <if test="classCtgKey > 0">
            AND A.CLASS_CTG_KEY = #{classCtgKey}
        </if>
        <!-- 과목 검색 -->
        <if test="subjectCtgKey > 0">
            AND A.SUBJECT_CTG_KEY = #{subjectCtgKey}
        </if>
        ORDER BY EXAM_KEY ASC
    </select>

    <select id="selectGiChulProblemListByComplete" resultType="TExamUserVO">
        SELECT T.*
        FROM (
            SELECT
                A.EXAM_KEY, A.NAME, A.PRINT_QUESTION_FILE, A.PRINT_COMMENTARY_FILE,
                (SELECT COUNT(EXAM_USER_KEY) FROM T_EXAM_USER WHERE J_G_KEY = 0 AND USER_KEY = #{userKey} AND EXAM_KEY = A.EXAM_KEY) AS isComplete,
                (SELECT EXAM_USER_KEY FROM T_EXAM_USER WHERE USER_KEY = #{userKey} and isComplate = 1 AND EXAM_KEY = A.EXAM_KEY) AS examUserKey,
                (SELECT NAME FROM T_CATEGORY WHERE CTG_KEY = A.CLASS_CTG_KEY) as classCtgName,
                (SELECT NAME FROM T_CATEGORY WHERE CTG_KEY = A.SUBJECT_CTG_KEY) as subjectCtgName,
                (SELECT NAME FROM T_CATEGORY WHERE CTG_KEY = A.CLASS_GROUP_CTG_KEY) as groupCtgName
            FROM T_EXAM_MASTER A
            WHERE 1=1
            AND IS_GICHUL = 1
            <!-- 급수 검색 -->
            <if test="groupCtgKey > 0">
                AND A.CLASS_GROUP_CTG_KEY = #{groupCtgKey}
            </if>
            <!-- 직렬 검색 -->
            <if test="classCtgKey > 0">
                AND A.CLASS_CTG_KEY = #{classCtgKey}
            </if>
            <!-- 과목 검색 -->
            <if test="subjectCtgKey > 0">
                AND A.SUBJECT_CTG_KEY = #{subjectCtgKey}
            </if>
            ORDER BY EXAM_KEY ASC
        ) T
        WHERE T.isComplete = 1
    </select>

    <select id="selectDiagnosisEvaluationExamList" resultType="TExamUserVO">
        SELECT
            A.EXAM_KEY, A.NAME, A.PRINT_QUESTION_FILE, A.PRINT_COMMENTARY_FILE,
            TO_CHAR(A.ACCEPT_START_DATE, 'YYYY-MM-DD hh24:mi:ss') as acceptStartDate,
            TO_CHAR(A.ACCEPT_END_DATE, 'YYYY-MM-DD hh24:mi:ss') as acceptEndDate,
            (SELECT COUNT(EXAM_USER_KEY) FROM T_EXAM_USER WHERE J_G_KEY = 0 AND USER_KEY = #{userKey} AND EXAM_KEY = A.EXAM_KEY) AS isComplete,
            (SELECT NAME FROM T_CATEGORY WHERE CTG_KEY = A.CLASS_CTG_KEY) as classCtgName,
            (SELECT NAME FROM T_CATEGORY WHERE CTG_KEY = A.SUBJECT_CTG_KEY) as subjectCtgName,
            (SELECT NAME FROM T_CATEGORY WHERE CTG_KEY = A.CLASS_GROUP_CTG_KEY) as groupCtgName
        FROM T_EXAM_MASTER A
        WHERE A.EXAM_KEY = 212
    </select>

    <select id="selectDiagnosisEvaluationCompleteList" resultType="TExamUserVO">
        SELECT T.*
        FROM (
            SELECT
                A.EXAM_KEY, A.NAME, A.PRINT_QUESTION_FILE, A.PRINT_COMMENTARY_FILE,
                TO_CHAR(A.ACCEPT_START_DATE, 'YYYY-MM-DD hh24:mi:ss') as acceptStartDate,
                TO_CHAR(A.ACCEPT_END_DATE, 'YYYY-MM-DD hh24:mi:ss') as acceptEndDate,
                (SELECT COUNT(EXAM_USER_KEY) FROM T_EXAM_USER WHERE J_G_KEY = 0 AND USER_KEY = #{userKey} AND EXAM_KEY = A.EXAM_KEY) AS isComplete,
                (SELECT EXAM_USER_KEY FROM T_EXAM_USER WHERE USER_KEY =  #{userKey} and isComplate = 1 AND EXAM_KEY = A.EXAM_KEY) AS examUserKey,
                (SELECT NAME FROM T_CATEGORY WHERE CTG_KEY = A.CLASS_CTG_KEY) as classCtgName,
                (SELECT NAME FROM T_CATEGORY WHERE CTG_KEY = A.SUBJECT_CTG_KEY) as subjectCtgName,
                (SELECT NAME FROM T_CATEGORY WHERE CTG_KEY = A.CLASS_GROUP_CTG_KEY) as groupCtgName
            FROM T_EXAM_MASTER A
            WHERE A.EXAM_KEY = 212
       ) T
       WHERE T.isComplete = 1
    </select>

    <select id="selectWeekBigExamList" resultType="TExamUserVO">
        SELECT
            A.EXAM_KEY, A.NAME, A.PRINT_QUESTION_FILE, A.PRINT_COMMENTARY_FILE,
            TO_CHAR(A.ACCEPT_START_DATE, 'YYYY-MM-DD hh24:mi:ss') as acceptStartDate,
            TO_CHAR(A.ACCEPT_END_DATE, 'YYYY-MM-DD hh24:mi:ss') as acceptEndDate,
           (SELECT COUNT(EXAM_USER_KEY) FROM T_EXAM_USER WHERE J_G_KEY = 0 AND USER_KEY = #{userKey} AND EXAM_KEY = A.EXAM_KEY) AS isComplete,
           (SELECT NAME FROM T_CATEGORY WHERE CTG_KEY = A.CLASS_CTG_KEY) as classCtgName,
           (SELECT NAME FROM T_CATEGORY WHERE CTG_KEY = A.SUBJECT_CTG_KEY) as subjectCtgName,
           (SELECT NAME FROM T_CATEGORY WHERE CTG_KEY = A.CLASS_GROUP_CTG_KEY) as groupCtgName
        FROM T_EXAM_MASTER A
        WHERE 1=1
        AND A.IS_REAL_FREE = 1
        AND A.IS_GICHUL = 0
        AND A.EXAM_KEY != 212
        ORDER BY EXAM_KEY ASC
    </select>

    <select id="selectWeekBigExamAchievementManagementList" resultType="TExamUserVO">
        SELECT T.*
        FROM (
            SELECT
                A.EXAM_KEY, A.NAME, A.PRINT_QUESTION_FILE, A.PRINT_COMMENTARY_FILE,
                TO_CHAR(A.ACCEPT_START_DATE, 'YYYY-MM-DD hh24:mi:ss') as acceptStartDate,
                TO_CHAR(A.ACCEPT_END_DATE, 'YYYY-MM-DD hh24:mi:ss') as acceptEndDate,
               (SELECT COUNT(EXAM_USER_KEY) FROM T_EXAM_USER WHERE J_G_KEY = 0 AND USER_KEY = #{userKey} AND EXAM_KEY = A.EXAM_KEY) AS isComplete,
               (SELECT EXAM_USER_KEY FROM T_EXAM_USER WHERE USER_KEY =  #{userKey} and isComplate = 1 AND EXAM_KEY = A.EXAM_KEY) AS examUserKey,
               (SELECT NAME FROM T_CATEGORY WHERE CTG_KEY = A.CLASS_CTG_KEY) as classCtgName,
               (SELECT NAME FROM T_CATEGORY WHERE CTG_KEY = A.SUBJECT_CTG_KEY) as subjectCtgName,
               (SELECT NAME FROM T_CATEGORY WHERE CTG_KEY = A.CLASS_GROUP_CTG_KEY) as groupCtgName
            FROM T_EXAM_MASTER A
            WHERE 1=1
            AND A.IS_REAL_FREE = 1
            AND A.IS_GICHUL = 0
            AND A.EXAM_KEY != 212
            ORDER BY EXAM_KEY ASC
         ) T
       WHERE T.isComplete = 1
       AND T.examUserKey IS NOT NULL
    </select>
    <!-- 모의고사 성적보기 상세 화면 상단 정보 (응시번호, 이름 )-->
    <select id="selectExamResultHeaderInfo" resultType="TExamUserVO">
        SELECT
            A.*,
            (SELECT NAME FROM T_USER WHERE USER_KEY = A.USER_KEY) as userName
        FROM T_EXAM_USER A
        WHERE A.EXAM_USER_KEY = #{examUserKey}
    </select>
    <!-- 모의고사 성적보기 상세 화면 상단 응시과목 정보 -->
    <select id="selectExamSubjectNameList" resultType="String">
        SELECT C.NAME
        FROM T_EXAM_SUBJECT_USER A
        LEFT JOIN T_EXAM_QUESTION_BANK_SUBJECT B
        ON A.EXAM_QUES_BANK_SUBJECT_KEY = B.EXAM_QUESTION_BANK_SUBJECT_KEY
        INNER JOIN T_CATEGORY C
        ON B.SUBJECT_CTG_KEY = C.CTG_KEY
        WHERE A.EXAM_USER_KEY = #{examUserKey}
    </select>

    <select id="selectExamSubjectStaticsList" resultType="ExamSubjectStaticsVO">
        SELECT C.NAME as subjectName,
        (
                SELECT count(BANK_SUBJECT_QUES_LINK_KEY)
                FROM T_BANK_SUBJECT_QUES_LINK
                WHERE EXAM_QUES_BANK_SUBJECT_KEY = B.EXAM_QUESTION_BANK_SUBJECT_KEY
        ) as questionCnt,

        (
                SELECT COUNT(TT.EXAM_QUESTION_USER_KEY)
                FROM T_BANK_SUBJECT_QUES_LINK T
                LEFT JOIN T_EXAM_QUESTION_USER TT
                ON T.EXAM_QUES_BANK_KEY = TT.EXAM_QUESTION_BANK_KEY
                WHERE T.EXAM_QUES_BANK_SUBJECT_KEY = A.EXAM_QUES_BANK_SUBJECT_KEY
                AND TT.USER_KEY = A.USER_KEY
                AND TT.SCORE = 1

        ) as answerCnt,
        (
                SELECT COUNT(EXAM_USER_KEY) as cnt FROM T_EXAM_USER WHERE EXAM_KEY = A.EXAM_KEY
                AND ISSTART = 1
                AND T_EXAM_USER.ISCOMPLATE = 1
        ) as totalAnswerCnt,
        A.*, B.*
        FROM T_EXAM_SUBJECT_USER A
        LEFT JOIN T_EXAM_QUESTION_BANK_SUBJECT B
        ON A.EXAM_QUES_BANK_SUBJECT_KEY = B.EXAM_QUESTION_BANK_SUBJECT_KEY
        INNER JOIN T_CATEGORY C
        ON B.SUBJECT_CTG_KEY = C.CTG_KEY
        WHERE A.EXAM_USER_KEY = #{examUserKey}
    </select>

    <select id="selectExamSubjectGrade" resultType="Integer">
        SELECT ZZ.NUM FROM (
            SELECT  ROW_NUMBER() OVER(ORDER BY Z.cnt desc) NUM, Z.* FROM (
                SELECT COUNT(*) as cnt, TT.USER_KEY
                FROM T_BANK_SUBJECT_QUES_LINK T
                LEFT JOIN T_EXAM_QUESTION_USER TT
                ON T.EXAM_QUES_BANK_KEY = TT.EXAM_QUESTION_BANK_KEY
                WHERE T.EXAM_QUES_BANK_SUBJECT_KEY = #{examQuesBankSubjectKey}
                AND TT.SCORE = 1
                AND TT.USER_KEY IN ( SELECT USER_KEY FROM T_EXAM_USER WHERE EXAM_KEY = #{examKey} AND ISSTART = 1 AND T_EXAM_USER.ISCOMPLATE = 1 )
                GROUP BY TT.USER_KEY
            )Z
            ORDER BY Z.cnt desc
        )ZZ
        WHERE ZZ.USER_KEY = #{userKey}
    </select>

    <select id="selectSubjectStaticsSum" resultType="Integer">
        SELECT SUM(T.subjectSum) as subjectStaticsSum
        FROM (
                SELECT (COUNT(*) * 5) as subjectSum
                FROM T_EXAM_USER A
                LEFT JOIN T_EXAM_QUESTION_USER B
                ON A.EXAM_USER_KEY = B.EXAM_USER_KEY
                LEFT JOIN T_BANK_SUBJECT_QUES_LINK C
                ON B.EXAM_QUESTION_BANK_KEY = C.EXAM_QUES_BANK_KEY
                WHERE A.EXAM_KEY = #{examKey}
                AND C.EXAM_QUES_BANK_SUBJECT_KEY = #{examQuesBankSubjectKey}
                AND A.ISSTART = 1
                AND A.ISCOMPLATE = 1
                AND B.SCORE = 1
                GROUP BY A.USER_KEY
            )T
    </select>

    <select id="selectSubjectTopPercentScore" resultType="Integer">
        SELECT
                (
                    SELECT ( (SUM(score)) / COUNT(*)) as cnt
                    FROM (
                        SELECT T.*, (T.cnt * 5) as score,
                        PERCENT_RANK() OVER (ORDER BY T.cnt DESC) as per_rank
                        FROM (
                            SELECT COUNT(*) cnt, A.USER_KEY
                            FROM T_EXAM_USER A
                            LEFT JOIN T_EXAM_QUESTION_USER B
                            ON A.EXAM_USER_KEY = B.EXAM_USER_KEY
                            LEFT JOIN T_BANK_SUBJECT_QUES_LINK C
                            ON B.EXAM_QUESTION_BANK_KEY = C.EXAM_QUES_BANK_KEY
                            WHERE A.EXAM_KEY = #{examKey}
                            AND C.EXAM_QUES_BANK_SUBJECT_KEY = A.EXAM_QUES_BANK_SUBJECT_KEY
                            AND A.ISSTART = 1
                            AND A.ISCOMPLATE = 1
                            AND B.SCORE = 1
                            AND A.EXAM_QUES_BANK_SUBJECT_KEY = #{examQuesBankSubjectKey}
                            GROUP BY A.USER_KEY
                        )T
                        ORDER BY T.cnt DESC
                    )TT
                    <if test="percentType == 10">
                        <![CDATA[
                        WHERE TT.per_rank <= 0.1
                        ]]>
                    </if>
                    <if test="percentType == 30">
                        <![CDATA[
                        WHERE TT.per_rank <= 0.3
                        ]]>
                    </if>
                ) as topTenPercent
        FROM T_EXAM_SUBJECT_USER A
        LEFT JOIN T_EXAM_QUESTION_BANK_SUBJECT B
        ON A.EXAM_QUES_BANK_SUBJECT_KEY = B.EXAM_QUESTION_BANK_SUBJECT_KEY
        INNER JOIN T_CATEGORY C
        ON B.SUBJECT_CTG_KEY = C.CTG_KEY
        WHERE A.EXAM_USER_KEY = #{examUserKey}
        AND A.EXAM_QUES_BANK_SUBJECT_KEY = #{examQuesBankSubjectKey}
    </select>

    <!-- 유형별 정답률 -->
    <select id="selectScoreRateByStepCtgKey" resultType="ScoreRateGraphVO">
        SELECT Z.ctgName, Z.problemCnt, NVL(ZZ.scoreCnt, 0) as scoreCnt
        FROM
        (
            SELECT  T.*, (SELECT NAME FROM T_CATEGORY WHERE CTG_KEY = T.STEP_CTG_KEY) as ctgName
            FROM (
                    SELECT COUNT(B.STEP_CTG_KEY) as problemCnt , B.STEP_CTG_KEY
                    FROM T_BANK_SUBJECT_QUES_LINK A
                    LEFT JOIN T_EXAM_QUESTION_BANK B
                    ON A.EXAM_QUES_BANK_KEY = B.EXAM_QUESTION_BANK_KEY
                    WHERE A.EXAM_QUES_BANK_SUBJECT_KEY = #{examQuesBankSubjectKey}
                    GROUP BY B.STEP_CTG_KEY
                )T
            ORDER BY T.STEP_CTG_KEY ASC
        ) Z
        LEFT OUTER JOIN
        (
            SELECT T.*
            FROM (
                    SELECT COUNT(B.STEP_CTG_KEY) as scoreCnt ,B.STEP_CTG_KEY
                    FROM T_BANK_SUBJECT_QUES_LINK A
                    LEFT JOIN T_EXAM_QUESTION_BANK B
                    ON A.EXAM_QUES_BANK_KEY = B.EXAM_QUESTION_BANK_KEY
                    LEFT JOIN T_EXAM_QUESTION_USER C
                    ON A.EXAM_QUES_BANK_KEY = C.EXAM_QUESTION_BANK_KEY
                    WHERE A.EXAM_QUES_BANK_SUBJECT_KEY = #{examQuesBankSubjectKey}
                    AND C.USER_KEY = #{userKey}
                    AND C.SCORE = 1
                    GROUP BY B.STEP_CTG_KEY
                )T

        ) ZZ
        ON Z.STEP_CTG_KEY = ZZ.STEP_CTG_KEY
        ORDER BY Z.STEP_CTG_KEY ASC
    </select>

    <!-- 패턴별 정답률 -->
    <select id="selectScoreRateByPatternCtgKey" resultType="ScoreRateGraphVO">
        SELECT Z.ctgName, Z.problemCnt, NVL(ZZ.scoreCnt, 0) as scoreCnt
        FROM
        (
            SELECT  T.*, (SELECT NAME FROM T_CATEGORY WHERE CTG_KEY = T.PATTERN_CTG_KEY) as ctgName
            FROM (
                    SELECT COUNT(B.PATTERN_CTG_KEY) as problemCnt , B.PATTERN_CTG_KEY
                    FROM T_BANK_SUBJECT_QUES_LINK A
                    LEFT JOIN T_EXAM_QUESTION_BANK B
                    ON A.EXAM_QUES_BANK_KEY = B.EXAM_QUESTION_BANK_KEY
                    WHERE A.EXAM_QUES_BANK_SUBJECT_KEY =  #{examQuesBankSubjectKey}
                    GROUP BY B.PATTERN_CTG_KEY
                )T
            ORDER BY T.PATTERN_CTG_KEY ASC
        ) Z
        LEFT OUTER JOIN
        (
            SELECT T.*
            FROM (
                    SELECT COUNT(B.PATTERN_CTG_KEY) as scoreCnt ,B.PATTERN_CTG_KEY
                    FROM T_BANK_SUBJECT_QUES_LINK A
                    LEFT JOIN T_EXAM_QUESTION_BANK B
                    ON A.EXAM_QUES_BANK_KEY = B.EXAM_QUESTION_BANK_KEY
                    LEFT JOIN T_EXAM_QUESTION_USER C
                    ON A.EXAM_QUES_BANK_KEY = C.EXAM_QUESTION_BANK_KEY
                    WHERE A.EXAM_QUES_BANK_SUBJECT_KEY =  #{examQuesBankSubjectKey}
                    AND C.USER_KEY = #{userKey}
                    AND C.SCORE = 1
                    GROUP BY B.PATTERN_CTG_KEY
                )T

        ) ZZ
        ON Z.PATTERN_CTG_KEY = ZZ.PATTERN_CTG_KEY
        ORDER BY Z.PATTERN_CTG_KEY ASC
    </select>

    <!-- 대단원별 정답률 -->
    <select id="selectScoreRateByUnitCtgKey" resultType="ScoreRateGraphVO">
        SELECT Z.ctgName, Z.problemCnt, NVL(ZZ.scoreCnt, 0) as scoreCnt
        FROM
        (
            SELECT  T.*, (SELECT NAME FROM T_CATEGORY WHERE CTG_KEY = T.UNIT_CTG_KEY) as ctgName
            FROM (
                    SELECT COUNT(B.UNIT_CTG_KEY) as problemCnt , B.UNIT_CTG_KEY
                    FROM T_BANK_SUBJECT_QUES_LINK A
                    LEFT JOIN T_EXAM_QUESTION_BANK B
                    ON A.EXAM_QUES_BANK_KEY = B.EXAM_QUESTION_BANK_KEY
                    WHERE A.EXAM_QUES_BANK_SUBJECT_KEY = #{examQuesBankSubjectKey}
                    GROUP BY B.UNIT_CTG_KEY
                )T
            ORDER BY T.UNIT_CTG_KEY ASC
        ) Z
        LEFT OUTER JOIN
        (
            SELECT T.*
            FROM (
                    SELECT COUNT(B.UNIT_CTG_KEY) as scoreCnt, B.UNIT_CTG_KEY
                    FROM T_BANK_SUBJECT_QUES_LINK A
                    LEFT JOIN T_EXAM_QUESTION_BANK B
                    ON A.EXAM_QUES_BANK_KEY = B.EXAM_QUESTION_BANK_KEY
                    LEFT JOIN T_EXAM_QUESTION_USER C
                    ON A.EXAM_QUES_BANK_KEY = C.EXAM_QUESTION_BANK_KEY
                    WHERE A.EXAM_QUES_BANK_SUBJECT_KEY = #{examQuesBankSubjectKey}
                    AND C.USER_KEY = #{userKey}
                    AND C.SCORE = 1
                    GROUP BY B.UNIT_CTG_KEY
                )T

        ) ZZ
        ON Z.UNIT_CTG_KEY = ZZ.UNIT_CTG_KEY
        ORDER BY Z.UNIT_CTG_KEY ASC
    </select>

    <select id="selectExamStaticsDetailInfoBySubject" resultType="ExamStaticsDetailSubjectVO">
    SELECT  ROW_NUMBER() OVER(ORDER BY Z.POS ASC) NUM,  Z.*
    FROM(
            SELECT
                T.EXAM_QUES_BANK_KEY,
                T.BANK_SUBJECT_QUES_LINK_KEY,
                TT.POS,
                T.answer, TT.USER_ANSWER, T.EXAM_LEVEL,

               CASE TT.USER_ANSWER
                   WHEN 1 THEN T.ANSWER_1_REASON
                   WHEN 2 THEN T.ANSWER_2_REASON
                   WHEN 3 THEN T.ANSWER_3_REASON
                   WHEN 4 THEN T.ANSWER_4_REASON
                   ELSE T.ANSWER_1_REASON
                   END as answer_comment,

               CASE TT.EXAM_LEVEL
                   WHEN 0 THEN '상'
                   WHEN 1 THEN '중'
                   WHEN 2 THEN '하'
                   ELSE ''
                   END as examLevelName,

               (SELECT NAME FROM T_CATEGORY WHERE CTG_KEY = TT.STEP_CTG_KEY) as stepName,
               TT.UNIT_CTG_KEY,
               (
                   SELECT COUNT(A.BANK_SUBJECT_QUES_LINK_KEY)
                   FROM T_BANK_SUBJECT_QUES_LINK A
                   LEFT JOIN T_EXAM_QUESTION_BANK B
                   ON A.EXAM_QUES_BANK_KEY = B.EXAM_QUESTION_BANK_KEY
                   LEFT JOIN T_EXAM_QUESTION_USER C
                   ON A.EXAM_QUES_BANK_KEY = C.EXAM_QUESTION_BANK_KEY
                   WHERE A.EXAM_QUES_BANK_SUBJECT_KEY = #{examQuesBankSubjectKey}
                   AND A.EXAM_QUES_BANK_KEY = T.EXAM_QUES_BANK_KEY
               ) as totalCnt,
               (
                   SELECT COUNT(A.BANK_SUBJECT_QUES_LINK_KEY)
                   FROM T_BANK_SUBJECT_QUES_LINK A
                   LEFT JOIN T_EXAM_QUESTION_BANK B
                   ON A.EXAM_QUES_BANK_KEY = B.EXAM_QUESTION_BANK_KEY
                   LEFT JOIN T_EXAM_QUESTION_USER C
                   ON A.EXAM_QUES_BANK_KEY = C.EXAM_QUESTION_BANK_KEY
                   WHERE A.EXAM_QUES_BANK_SUBJECT_KEY = #{examQuesBankSubjectKey}
                   AND A.EXAM_QUES_BANK_KEY = T.EXAM_QUES_BANK_KEY
                   AND C.SCORE = 1
               ) as totalScoreCnt,
               (
                   SELECT COUNT(A.BANK_SUBJECT_QUES_LINK_KEY)
                   FROM T_BANK_SUBJECT_QUES_LINK A
                   LEFT JOIN T_EXAM_QUESTION_BANK B
                   ON A.EXAM_QUES_BANK_KEY = B.EXAM_QUESTION_BANK_KEY
                   LEFT JOIN T_EXAM_QUESTION_USER C
                   ON A.EXAM_QUES_BANK_KEY = C.EXAM_QUESTION_BANK_KEY
                   WHERE A.EXAM_QUES_BANK_SUBJECT_KEY = #{examQuesBankSubjectKey}
                   AND A.EXAM_QUES_BANK_KEY = T.EXAM_QUES_BANK_KEY
                   AND C.SCORE = 0
               ) as totalWrongCnt
            FROM
            (
                 SELECT
                     A.BANK_SUBJECT_QUES_LINK_KEY, A.EXAM_QUES_BANK_KEY,
                     SUBSTR(B.ANSWER, 1, 1) as answer,
                     B.ANSWER_1_REASON, B.ANSWER_2_REASON, B.ANSWER_3_REASON, B.ANSWER_4_REASON,
                     B.EXAM_LEVEL
                 FROM T_BANK_SUBJECT_QUES_LINK A
                 LEFT JOIN T_EXAM_QUESTION_BANK B
                 ON A.EXAM_QUES_BANK_KEY = B.EXAM_QUESTION_BANK_KEY
                 WHERE A.EXAM_QUES_BANK_SUBJECT_KEY = #{examQuesBankSubjectKey}
                 ORDER BY A.POS ASC
             ) T
                 LEFT OUTER JOIN
             (
                 SELECT *
                 FROM T_BANK_SUBJECT_QUES_LINK A
                 LEFT JOIN T_EXAM_QUESTION_BANK B
                 ON A.EXAM_QUES_BANK_KEY = B.EXAM_QUESTION_BANK_KEY
                 LEFT JOIN T_EXAM_QUESTION_USER C
                 ON A.EXAM_QUES_BANK_KEY = C.EXAM_QUESTION_BANK_KEY
                 WHERE A.EXAM_QUES_BANK_SUBJECT_KEY = #{examQuesBankSubjectKey}
                 AND C.USER_KEY = #{userKey}
             ) TT
             ON T.BANK_SUBJECT_QUES_LINK_KEY = TT.BANK_SUBJECT_QUES_LINK_KEY
         ) Z
    </select>

    <select id="selectProblemNumberScoreList" resultType="ProblemNumberScoreVO">
        SELECT '1' AS problemNumber, COUNT(*) as scoreCnt
        FROM T_BANK_SUBJECT_QUES_LINK A
        LEFT OUTER JOIN T_EXAM_QUESTION_BANK B
        ON A.EXAM_QUES_BANK_KEY = B.EXAM_QUESTION_BANK_KEY
        LEFT OUTER JOIN T_EXAM_QUESTION_USER C
        ON A.EXAM_QUES_BANK_KEY = C.EXAM_QUESTION_BANK_KEY
        WHERE A.EXAM_QUES_BANK_SUBJECT_KEY = #{examQuesBankSubjectKey}
        AND A.EXAM_QUES_BANK_KEY = #{examQuesBankKey}
        AND C.USER_ANSWER = 1

        UNION ALL

        SELECT '2' AS problemNumber, COUNT(*) as scoreCnt
        FROM T_BANK_SUBJECT_QUES_LINK A
        LEFT OUTER JOIN T_EXAM_QUESTION_BANK B
        ON A.EXAM_QUES_BANK_KEY = B.EXAM_QUESTION_BANK_KEY
        LEFT OUTER JOIN T_EXAM_QUESTION_USER C
        ON A.EXAM_QUES_BANK_KEY = C.EXAM_QUESTION_BANK_KEY
        WHERE A.EXAM_QUES_BANK_SUBJECT_KEY = #{examQuesBankSubjectKey}
        AND A.EXAM_QUES_BANK_KEY = #{examQuesBankKey}
        AND C.USER_ANSWER = 2

        UNION ALL

        SELECT '3' AS problemNumber, COUNT(*) as scoreCnt
        FROM T_BANK_SUBJECT_QUES_LINK A
        LEFT OUTER JOIN T_EXAM_QUESTION_BANK B
        ON A.EXAM_QUES_BANK_KEY = B.EXAM_QUESTION_BANK_KEY
        LEFT OUTER JOIN T_EXAM_QUESTION_USER C
        ON A.EXAM_QUES_BANK_KEY = C.EXAM_QUESTION_BANK_KEY
        WHERE A.EXAM_QUES_BANK_SUBJECT_KEY = #{examQuesBankSubjectKey}
        AND A.EXAM_QUES_BANK_KEY = #{examQuesBankKey}
        AND C.USER_ANSWER = 3

        UNION ALL

        SELECT '4' AS problemNumber, COUNT(*) as scoreCnt
        FROM T_BANK_SUBJECT_QUES_LINK A
        LEFT OUTER JOIN T_EXAM_QUESTION_BANK B
        ON A.EXAM_QUES_BANK_KEY = B.EXAM_QUESTION_BANK_KEY
        LEFT OUTER JOIN T_EXAM_QUESTION_USER C
        ON A.EXAM_QUES_BANK_KEY = C.EXAM_QUESTION_BANK_KEY
        WHERE A.EXAM_QUES_BANK_SUBJECT_KEY = #{examQuesBankSubjectKey}
        AND A.EXAM_QUES_BANK_KEY = #{examQuesBankKey}
        AND C.USER_ANSWER = 4
    </select>

    <select id="selectWrongAnswerList" resultType="ExamWrongAnswerVO">
        SELECT ROW_NUMBER() OVER(ORDER BY Z.POS ASC) NUM, Z.*
        FROM
        (
            SELECT
            A.EXAM_QUES_BANK_KEY,
            A.BANK_SUBJECT_QUES_LINK_KEY,
            B.QUESTION_IMAGE, B.COMMENTARY_IMAGE, B.REVIEW, A.POS,
            B.UNIT_CTG_KEY,
            C.SCORE,
            B.COMMENTARY_URL,
            CASE B.EXAM_LEVEL
               WHEN 0 THEN '상'
               WHEN 1 THEN '중'
               WHEN 2 THEN '하'
               ELSE ''
               END as examLevelName,
            (SELECT NAME FROM T_CATEGORY WHERE CTG_KEY = B.STEP_CTG_KEY) as stepName,
            CASE C.USER_ANSWER
               WHEN 1 THEN B.ANSWER_1_REASON
               WHEN 2 THEN B.ANSWER_2_REASON
               WHEN 3 THEN B.ANSWER_3_REASON
               WHEN 4 THEN B.ANSWER_4_REASON
               ELSE B.ANSWER_1_REASON
               END as answer_comment,
            C.USER_ANSWER,
            NVL(C.IS_INTEREST, 0) as isInterest,

            (
                SELECT COUNT(T.BANK_SUBJECT_QUES_LINK_KEY)
                FROM T_BANK_SUBJECT_QUES_LINK T
                LEFT JOIN T_EXAM_QUESTION_BANK TT
                ON T.EXAM_QUES_BANK_KEY = TT.EXAM_QUESTION_BANK_KEY
                LEFT JOIN T_EXAM_QUESTION_USER TTT
                ON T.EXAM_QUES_BANK_KEY = TTT.EXAM_QUESTION_BANK_KEY
                WHERE T.EXAM_QUES_BANK_SUBJECT_KEY = #{examQuesBankSubjectKey}
                AND T.EXAM_QUES_BANK_KEY = A.EXAM_QUES_BANK_KEY
            ) as totalCnt,
            (
                SELECT COUNT(T.BANK_SUBJECT_QUES_LINK_KEY)
                FROM T_BANK_SUBJECT_QUES_LINK T
                LEFT JOIN T_EXAM_QUESTION_BANK TT
                ON T.EXAM_QUES_BANK_KEY = TT.EXAM_QUESTION_BANK_KEY
                LEFT JOIN T_EXAM_QUESTION_USER TTT
                ON T.EXAM_QUES_BANK_KEY = TTT.EXAM_QUESTION_BANK_KEY
                WHERE T.EXAM_QUES_BANK_SUBJECT_KEY = #{examQuesBankSubjectKey}
                AND T.EXAM_QUES_BANK_KEY = A.EXAM_QUES_BANK_KEY
                AND TTT.SCORE = 1
            ) as totalScoreCnt,
            D.VALUE as theoryLearningUrl
        FROM T_BANK_SUBJECT_QUES_LINK A
        LEFT JOIN T_EXAM_QUESTION_BANK B
        ON A.EXAM_QUES_BANK_KEY = B.EXAM_QUESTION_BANK_KEY
        LEFT JOIN T_EXAM_QUESTION_USER C
        ON A.EXAM_QUES_BANK_KEY = C.EXAM_QUESTION_BANK_KEY
        LEFT OUTER JOIN T_RES D
        ON B.UNIT_CTG_KEY = D.KEY_00
        WHERE A.EXAM_QUES_BANK_SUBJECT_KEY = #{examQuesBankSubjectKey}
        AND C.USER_KEY = #{userKey}
        <if test="isScore > -1">
            AND C.SCORE = #{isScore}
        </if>
        <if test="isInterest > -1">
            AND C.IS_INTEREST = #{isInterest}
        </if>
        ORDER BY A.POS ASC
        ) Z
    </select>

    <select id="selectExamMasterInfo" resultType="TExamMasterVO">
        SELECT * FROM T_EXAM_MASTER WHERE EXAM_KEY = #{examKey}
    </select>

    <select id="selectExamMasterSubjectList" resultType="TBankSubjectExamLinkVO">
        SELECT A.*, B.name, C.name as CTG_NAME,
        (
            SELECT count(T_BANK_SUBJECT_QUES_LINK.BANK_SUBJECT_QUES_LINK_KEY)
            FROM T_BANK_SUBJECT_QUES_LINK
            WHERE EXAM_QUES_BANK_SUBJECT_KEY = B.EXAM_QUESTION_BANK_SUBJECT_KEY
        ) as QUESTION_NUMBER
        FROM T_BANK_SUBJECT_EXAM_LINK A
        INNER JOIN T_EXAM_QUESTION_BANK_SUBJECT B
        ON A.EXAM_QUESTION_BANK_SUBJECT_KEY = B.EXAM_QUESTION_BANK_SUBJECT_KEY
        INNER JOIN T_CATEGORY C
        ON B.SUBJECT_CTG_KEY = C.CTG_KEY
        WHERE A.exam_key = #{examKey}
        ORDER BY A.BANK_SUBJECT_EXAM_LINK_KEY ASC
    </select>

    <select id="selectTExamUserInfo" resultType="TExamUserVO">
        SELECT * FROM T_EXAM_USER WHERE EXAM_KEY = #{examKey} AND USER_KEY = #{userKey}
    </select>

    <select id="selectExamList" resultType="ExamListVO">
        SELECT ROW_NUMBER() OVER(ORDER BY Z.POS ASC) NUM, Z.*
        FROM (
                SELECT A.POS, B.EXAM_QUESTION_BANK_KEY, B.QUESTION_IMAGE, SUBSTR(B.ANSWER, 1, 1) as answer
                FROM T_BANK_SUBJECT_QUES_LINK A
                LEFT JOIN T_EXAM_QUESTION_BANK B
                ON A.EXAM_QUES_BANK_KEY = B.EXAM_QUESTION_BANK_KEY
                WHERE A.EXAM_QUES_BANK_SUBJECT_KEY = #{examQuesBankSubjectKey}
                ORDER BY A.POS ASC
             ) Z
    </select>

    <select id="selectTExamSubjectUserList" resultType="TExamSubjectUserVO">
        SELECT T.*,
                (
                    SELECT A.NAME
                    FROM T_CATEGORY A
                    INNER JOIN T_EXAM_QUESTION_BANK_SUBJECT B
                    ON A.CTG_KEY = B.SUBJECT_CTG_KEY
                    WHERE B.EXAM_QUESTION_BANK_SUBJECT_KEY = T.EXAM_QUES_BANK_SUBJECT_KEY
                )as subjectName
        FROM T_EXAM_SUBJECT_USER T
        WHERE T.EXAM_KEY = #{examKey} AND T.USER_KEY = #{userKey}
    </select>

    <select id="selectTExamDateInfo" resultType="TExamMasterVO">
		SELECT
		    (SELECT NAME FROM T_CATEGORY WHERE CTG_KEY = CLASS_CTG_KEY) as className,
		    TO_CHAR(ACCEPT_START_DATE, 'YYYY-MM-DD HH24:mi:ss') as ACCEPT_START_DATE,
		    TO_CHAR(ACCEPT_END_DATE, 'YYYY-MM-DD HH24:mi:ss') as ACCEPT_END_DATE,
		    TO_CHAR(ONLINE_START_DATE, 'YYYY-MM-DD HH24:mi:ss') as ONLINE_START_DATE,
		    TO_CHAR(ONLINE_END_DATE, 'YYYY-MM-DD HH24:mi:ss') as ONLINE_END_DATE
		FROM T_EXAM_MASTER WHERE EXAM_KEY = #{examKey}
	</select>

    <select id="selectTBankSubjectExamLinkList" parameterType="Integer" resultType="TBankSubjectExamLinkVO">
		SELECT A.*, B.name, C.name as CTG_NAME,
				(
						SELECT count(T_BANK_SUBJECT_QUES_LINK.BANK_SUBJECT_QUES_LINK_KEY)
						FROM T_BANK_SUBJECT_QUES_LINK
						WHERE EXAM_QUES_BANK_SUBJECT_KEY = B.EXAM_QUESTION_BANK_SUBJECT_KEY
				) as QUESTION_NUMBER
		FROM T_BANK_SUBJECT_EXAM_LINK A
		INNER JOIN T_EXAM_QUESTION_BANK_SUBJECT B
		ON A.EXAM_QUESTION_BANK_SUBJECT_KEY = B.EXAM_QUESTION_BANK_SUBJECT_KEY
		INNER JOIN T_CATEGORY C
		ON B.SUBJECT_CTG_KEY = C.CTG_KEY
		WHERE A.exam_key = #{examKey}
		ORDER BY A.BANK_SUBJECT_EXAM_LINK_KEY ASC
	</select>

    <!-- 모의고사 리스트 직렬선택 셀렉트 박스 -->
    <select id="selectMockExamClassCtgSelectBoxList" resultType="com.zianedu.api.dto.SelectboxDTO">
        SELECT T.classCtgKey as key, T.classCtgName as value FROM (
            SELECT
                (SELECT RES_TYPE FROM T_LINK_KEY TT WHERE A.G_KEY = TT.REQ_KEY) as onOffKey,
                (
                    SELECT T.RES_KEY
                    FROM T_LINK_KEY T INNER JOIN T_EXAM_MASTER TT
                    ON T.RES_KEY = TT.EXAM_KEY
                    WHERE T.REQ_KEY = A.G_KEY
                ) as examKey,

                (
                    SELECT TT.CLASS_CTG_KEY
                    FROM T_LINK_KEY T INNER JOIN T_EXAM_MASTER TT
                    ON T.RES_KEY = TT.EXAM_KEY
                    WHERE T.REQ_KEY = A.G_KEY
                ) as classCtgKey,
                 (
                    SELECT TTT.NAME
                    FROM T_LINK_KEY T INNER JOIN T_EXAM_MASTER TT
                    ON T.RES_KEY = TT.EXAM_KEY
                    INNER JOIN T_CATEGORY TTT
                    ON TT.CLASS_CTG_KEY = TTT.CTG_KEY
                    WHERE T.REQ_KEY = A.G_KEY
                ) as classCtgName
            FROM T_GOODS A
            WHERE A.TYPE = 4
            AND A.IS_SHOW = 1
            AND A.IS_SELL = 1

         )T
        WHERE 1=1
        AND T.onOffKey = #{onOffKey}
        GROUP BY T.classCtgKey, T.classCtgName
    </select>

    <select id="selectMockExamListAtBuy" resultType="MockExamProductVO">
        SELECT Z.*, ZZ.EXAM_USER_KEY, NVL(ZZ.ISCOMPLATE, 0) as isComplete
        FROM (
               SELECT A.J_KEY, C.NAME as goodsName,

                        (SELECT RES_TYPE FROM T_LINK_KEY TT WHERE A.G_KEY = TT.REQ_KEY) as onOffKey,
                        (
                            SELECT T.RES_KEY
                            FROM T_LINK_KEY T INNER JOIN T_EXAM_MASTER TT
                            ON T.RES_KEY = TT.EXAM_KEY
                            WHERE T.REQ_KEY = A.G_KEY
                        ) as examKey,
                        A.G_KEY,
                        B.USER_KEY,
                        A.J_G_KEY,
                        (
                            SELECT TT.CLASS_CTG_KEY
                            FROM T_LINK_KEY T INNER JOIN T_EXAM_MASTER TT
                            ON T.RES_KEY = TT.EXAM_KEY
                            WHERE T.REQ_KEY = A.G_KEY
                        ) as classCtgKey
                FROM T_ORDER_GOODS A
                INNER JOIN T_ORDER B
                ON A.J_KEY = B.J_KEY
                INNER JOIN T_GOODS C
                ON A.G_KEY = C.G_KEY
                WHERE 1=1
                AND A.TYPE = 4
        ) Z
        LEFT OUTER JOIN T_EXAM_USER ZZ
        ON Z.J_G_KEY = ZZ.J_G_KEY
        WHERE 1=1
        <if test="userKey > 0">
            AND Z.USER_KEY = #{userKey}
        </if>
        <if test="onOffKey > 0">
            AND Z.onOffKey = #{onOffKey}
        </if>
        <if test="ctgKey > 0">
            AND Z.classCtgKey = #{ctgKey}
        </if>
        <if test="searchText != ''">
            <if test="searchType == 'name'">
                AND REGEXP_LIKE(Z.goodsName, #{searchText})
            </if>
        </if>
        ORDER BY Z.J_KEY DESC
        OFFSET #{startNumber} ROWS FETCH NEXT #{listLimitNumber} ROWS ONLY
    </select>

    <select id="selectTExamUserSerial" resultType="String">
        SELECT CONCAT('0', (T.serial + 1)) as serial
        FROM
        (
            SELECT SUBSTR(SERIAL, 2) as serial
            FROM T_EXAM_USER
            ORDER BY T_EXAM_USER.EXAM_USER_KEY DESC
        ) T
        WHERE ROWNUM = 1
    </select>

    <insert id="insertTExamUser" parameterType="TExamUserVO">
        <selectKey resultType="Integer" keyProperty="examUserKey" order="BEFORE">
            SELECT T_EXAM_USER_SEQ.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO T_EXAM_USER
        (
            EXAM_USER_KEY, EXAM_KEY, USER_KEY, J_G_KEY, J_CURRI_KEY, INDATE, ISCOMPLATE, SERIAL, PLAY_TIME, ISONLINE
        )
        VALUES
        (
            #{examUserKey}, #{examKey}, #{userKey}, 0, 0, sysdate, 0, #{serial}, 0, 1
        )
    </insert>

    <insert id="insertTExamSubjectUser" parameterType="TExamSubjectUserVO">
        <selectKey resultType="Integer" keyProperty="examSbjUserKey" order="BEFORE">
            SELECT T_EXAM_SUBJECT_USER_SEQ.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO T_EXAM_SUBJECT_USER
        (
            EXAM_SBJ_USER_KEY, EXAM_USER_KEY, EXAM_SBJ_KEY, EXAM_KEY, BANK_SUBJECT_EXAM_LINK_KEY,
            EXAM_QUES_BANK_SUBJECT_KEY, USER_KEY, INDATE, REQUIRED_TYPE, IS_SELECTED
        )
        VALUES
        (
            #{examSbjUserKey}, #{examUserKey}, 0, #{examKey}, #{bankSubjectExamLinkKey},
            #{examQuesBankSubjectKey}, #{userKey}, sysdate, 1, 1
        )
    </insert>

    <update id="updateTExamUser" parameterType="TExamUserVO">
        UPDATE T_EXAM_USER
        <set>
            <if test="isstart > 0">ISSTART = #{isstart},</if>
            <if test="iscomplete > 0">ISCOMPLATE = #{iscomplete}, COMPLATEDATE = sysdate,</if>
            <if test="playTime > 0">PLAY_TIME = #{playTime},</if>
        </set>
        WHERE EXAM_USER_KEY = #{examUserKey}
    </update>

</mapper>
