<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zianedu.api.mapper.MenuMapper">

    <select id="selectSubjectCtgKeyByMenuCtgKey" resultType="Integer">
        SELECT res_key as ctg_key
        FROM T_LINK_KEY
        WHERE REQ_TYPE = 100
        AND RES_TYPE = 100
        AND REQ_KEY = #{menuCtgKey}
    </select>

    <select id="selectTCategoryByParentKey" resultType="TCategoryVO">
        SELECT * FROM T_CATEGORY
        WHERE PARENT_KEY = #{ctgKey}
        ORDER BY POS ASC
    </select>

    <select id="selectTeacherListFromTeacherIntroduce" resultType="TeacherVO">
        SELECT A.REQ_KEY, C.TEACHER_KEY, D.NAME as teacherName
        FROM T_LINK_KEY A
        INNER JOIN T_CATEGORY B
        ON A.REQ_KEY = B.CTG_KEY
        INNER JOIN T_TEACHER C
        ON A.RES_KEY = C.TEACHER_KEY
        INNER JOIN T_USER D
        ON C.USER_KEY = D.USER_KEY
        WHERE A.REQ_TYPE = 100
        AND A.RES_TYPE = 200
        AND A.REQ_KEY = #{ctgKey}
        ORDER BY C.TEACHER_KEY ASC
    </select>

</mapper>
