<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zianedu.api.mapper.ProductMapper">

    <resultMap id="promotionOnlineSignUpMap" type="OnlineSignUpVO">
        <result property="jKey" column="J_KEY"/>
        <result property="stepCtgKey" column="STEP_CTG_KEY"/>
        <result property="ctgName" column="CTG_NAME"/>
        <collection property="onlineSignUpSubjectList" javaType="java.util.ArrayList" resultMap="onlineSignUpSubjectListMap"/>
    </resultMap>
    <resultMap id="onlineSignUpSubjectListMap" type="OnlineSubjectListVO">
        <result property="jGKey" column="J_G_KEY"/>
        <result property="gKey" column="G_KEY"/>
        <result property="ctgName" column="CTG_NAME"/>
        <result property="startDate" column="START_DATE"/>
        <result property="endDate" column="END_DATE"/>
        <result property="name" column="NAME"/>
        <result property="pauseCnt" column="PAUSE_CNT"/>
    </resultMap>

    <select id="selectAcademySignUp" resultType="AcademySignUpVO">
        SELECT
            ( SELECT Z.name FROM t_category Z WHERE Z.ctg_key = D.step_ctg_key ) as ctgName,
            C.NAME,
            TO_CHAR(D.STARTDATE, 'YYYY-MM-DD') as startDate,
            TO_CHAR((D.STARTDATE + D.LIMIT_DAY), 'YYYY-MM-DD') as endDate
        FROM T_ORDER_GOODS A
        INNER JOIN T_ORDER B
        ON A.J_KEY = B.J_KEY
        INNER JOIN T_GOODS C
        ON A.G_KEY = C.G_KEY
        INNER JOIN t_lec D
        ON C.G_KEY = D.G_KEY
        WHERE 1=1
        AND A.USER_KEY = #{userKey}
        AND A.TYPE = 2
        AND B.PAY_STATUS = 2
        ORDER BY B.J_KEY asc
    </select>

    <select id="selectPromotionOnlineSignUp" resultMap="promotionOnlineSignUpMap">
        SELECT
            B.J_KEY,
            A.J_G_KEY,
            A.G_KEY,
            TO_CHAR(B.PAY_DATE, 'YYYY-MM-DD') as startDate,
            TO_CHAR((B.PAY_DATE + 366), 'YYYY-MM-DD') as endDate,
            D.step_ctg_key,
            ( SELECT Z.name FROM t_category Z WHERE Z.ctg_key = D.step_ctg_key ) as ctgName,
            C.NAME,
            A.KIND,
            E.J_LEC_KEY
        FROM T_ORDER_GOODS A
        INNER JOIN T_ORDER B
        ON A.J_KEY = B.J_KEY
        INNER JOIN T_GOODS C
        ON A.G_KEY = C.G_KEY
        INNER JOIN T_LEC D
        ON C.G_KEY = D.G_KEY
        INNER JOIN T_ORDER_LEC E
        ON A.J_G_KEY = E.J_G_KEY
        WHERE 1=1
        AND A.J_KEY = (
                SELECT A.J_KEY
                FROM T_ORDER A
                INNER JOIN T_ORDER_GOODS B
                ON A.J_KEY = B.J_KEY
                INNER JOIN T_ORDER_PROMOTION C
                ON B.J_G_KEY = C.J_G_KEY
                INNER JOIN T_GOODS D
                ON B.G_KEY = D.G_KEY
                WHERE A.USER_KEY = #{userKey}
                AND A.PAY_STATUS = 2
        )
        <if test="deviceType != '' and deviceType != null">
            <if test="deviceType == 'PC'">
                AND A.KIND IN (100, 102)
            </if>
            <if test="deviceType == 'MOBILE'">
                AND A.KIND IN (101, 102)
            </if>
        </if>
        ORDER BY D.STEP_CTG_KEY ASC
    </select>

    <select id="selectOnlineLectureProgressRate" resultType="Integer">
        SELECT (SUM(T.REMAIN_TIME) / (SUM(T.VOD_TIME)  * 0.01) ) as progressRate
        FROM (
            SELECT
                Z.CURRI_KEY, Z.NAME, Z.VOD_TIME,
                NVL((SELECT J_CURRI_KEY FROM T_ORDER_LEC_CURRI WHERE CURRI_KEY = Z.CURRI_KEY AND J_LEC_KEY = #{jLecKey}), 0) as J_CURRI_KEY,
                NVL((SELECT TIME FROM T_ORDER_LEC_CURRI WHERE CURRI_KEY = Z.CURRI_KEY AND J_LEC_KEY = #{jLecKey}), 0) as REMAIN_TIME
            FROM T_LEC_CURRI Z
            WHERE Z.LEC_KEY = (
                SELECT C.LEC_KEY
                FROM T_ORDER_LEC A
                INNER JOIN T_ORDER_GOODS B
                ON A.J_G_KEY = B.J_G_KEY
                INNER JOIN T_LEC C
                ON B.G_KEY = C.G_KEY
                WHERE A.J_LEC_KEY = #{jLecKey}
            )
        ) T
    </select>

    <select id="selectVideoOnlineSignUp" resultMap="promotionOnlineSignUpMap">
        SELECT
            B.J_KEY,
            A.J_G_KEY,
            A.G_KEY,
            TO_CHAR(E.start_dt, 'YYYY-MM-DD') as startDate,
            TO_CHAR((E.start_dt + E.limit_day), 'YYYY-MM-DD') as endDate,
            ( SELECT Z.name FROM t_category Z WHERE Z.ctg_key = D.step_ctg_key ) as ctgName,
            C.NAME,
            A.KIND,
            E.J_LEC_KEY,
            E.PAUSE_CNT
        FROM T_ORDER_GOODS A
        INNER JOIN T_ORDER B
        ON A.J_KEY = B.J_KEY
        INNER JOIN T_GOODS C
        ON A.G_KEY = C.G_KEY
        INNER JOIN T_LEC D
        ON C.G_KEY = D.G_KEY
        INNER JOIN T_ORDER_LEC E
        ON A.J_G_KEY = E.J_G_KEY
        WHERE 1=1
        AND B.user_key = #{userKey}
        AND B.pay_status = 2
        AND A.j_pm_key = 0
        AND E.PAUSE_DAY = 0
        <![CDATA[
            AND TO_CHAR(E.start_dt, 'YYYY-MM-DD') <= TO_CHAR(sysdate, 'YYYY-MM-DD')
        ]]>
        <![CDATA[
            AND TO_CHAR( (E.start_dt + E.limit_day), 'YYYY-MM-DD') >= TO_CHAR(sysdate, 'YYYY-MM-DD')
        ]]>
        <if test="deviceType != '' and deviceType != null">
            <if test="deviceType == 'PC'">
                AND A.KIND IN (100, 102)
            </if>
            <if test="deviceType == 'MOBILE'">
                AND A.KIND IN (101, 102)
            </if>
        </if>
        ORDER BY A.STEP_CTG_KEY ASC
    </select>

    <select id="selectOnlineLectureDetailInfo" resultType="OnlineLectureDetailVO">
        SELECT
            B.J_KEY,
            A.J_G_KEY,
            A.G_KEY,
            CONCAT( CONCAT( TO_CHAR(E.start_dt, 'YYYY-MM-DD'), ' ~ '),  TO_CHAR((E.start_dt + E.limit_day), 'YYYY-MM-DD')) as lectureDate,
            (SELECT COUNT(*) FROM t_lec_curri WHERE t_lec_curri.lec_key = D.lec_key) as lectureCnt,
            E.status,
            H.NAME as teacherName,
            C.NAME as lectureName,
            G.image_teacher_list,
            C.description,
            E.J_LEC_KEY
        FROM T_ORDER_GOODS A
        INNER JOIN T_ORDER B
        ON A.J_KEY = B.J_KEY
        INNER JOIN T_GOODS C
        ON A.G_KEY = C.G_KEY
        INNER JOIN T_LEC D
        ON C.G_KEY = D.G_KEY
        INNER JOIN T_ORDER_LEC E
        ON A.J_G_KEY = E.J_G_KEY
        INNER JOIN T_GOODS_TEACHER_LINK F
        ON C.g_key = F.G_KEY
        INNER JOIN T_TEACHER G
        ON F.TEACHER_KEY = G.TEACHER_KEY
        INNER JOIN T_USER H
        ON G.USER_KEY = H.USER_KEY
        WHERE 1=1
        AND E.j_lec_key = #{jLecKey}
    </select>

    <select id="selectOnlineLectureSubjectList" resultType="OnlineLectureSubjectListVO">
        SELECT T.*, (T.REMAIN_TIME / (T.VOD_TIME  * 0.01)) as progressRate
        FROM (
            SELECT
                Z.CURRI_KEY, Z.NAME, Z.VOD_TIME, Z.DATA_FILE, Z.VOD_FILE_HIGH, Z.VOD_FILE_LOW, Z.VOD_FILE_MOBILE_HIGH, Z.VOD_FILE_MOBILE_LOW,
                NVL((SELECT J_CURRI_KEY FROM T_ORDER_LEC_CURRI WHERE CURRI_KEY = Z.CURRI_KEY AND J_LEC_KEY = #{jLecKey}), 0) as J_CURRI_KEY,
                NVL((SELECT TIME FROM T_ORDER_LEC_CURRI WHERE CURRI_KEY = Z.CURRI_KEY AND J_LEC_KEY = #{jLecKey}), 0) as REMAIN_TIME
            FROM T_LEC_CURRI Z
            WHERE Z.LEC_KEY = (
                SELECT C.LEC_KEY
                FROM T_ORDER_LEC A
                INNER JOIN T_ORDER_GOODS B
                ON A.J_G_KEY = B.J_G_KEY
                INNER JOIN T_LEC C
                ON B.G_KEY = C.G_KEY
                WHERE A.J_LEC_KEY = #{jLecKey}
            )
            AND Z.IS_SHOW = 1
            ORDER BY Z.CURRI_KEY ASC
        ) T
    </select>

    <select id="selectGoodsReviewList" resultType="TGoodsReviewVO">
        SELECT
            G_REVIEW_KEY,
            TO_CHAR(INDATE, 'YYYY-MM-DD') as indate,
            TITLE, CONTENTS, POINT
            FROM T_GOODS_REVIEW
        WHERE G_KEY = (
                SELECT C.G_KEY
                FROM T_ORDER_LEC A
                INNER JOIN T_ORDER_GOODS B
                ON A.J_G_KEY = B.J_G_KEY
                INNER JOIN T_GOODS C
                ON B.G_KEY = C.G_KEY
                WHERE A.J_LEC_KEY = #{jLecKey}
        )
        ORDER BY G_REVIEW_KEY DESC
        OFFSET #{startNumber} ROWS FETCH NEXT #{listLimitNumber} ROWS ONLY
    </select>

    <select id="selectGoodsReviewListCount" resultType="Integer">
        SELECT COUNT ( G_REVIEW_KEY )
        FROM T_GOODS_REVIEW
        WHERE G_KEY = (
                SELECT C.G_KEY
                FROM T_ORDER_LEC A
                INNER JOIN T_ORDER_GOODS B
                ON A.J_G_KEY = B.J_G_KEY
                INNER JOIN T_GOODS C
                ON B.G_KEY = C.G_KEY
                WHERE A.J_LEC_KEY = #{jLecKey}
        )
    </select>

    <select id="selectVideoPauseRequestPopup" resultType="VideoPausePopupVO">
        SELECT A.J_LEC_KEY, C.NAME,
               TO_CHAR(A.START_DT, 'YYYY-MM-DD') as startDt,
               TO_CHAR((A.START_DT + A.LIMIT_DAY), 'YYYY-MM-DD') as end_dt
        FROM T_ORDER_LEC A
        INNER JOIN T_ORDER_GOODS B
        ON A.J_G_KEY = B.J_G_KEY
        INNER JOIN T_GOODS C
        ON B.G_KEY = C.G_KEY
        WHERE J_LEC_KEY = #{jLecKey}
    </select>

    <select id="selectTOrderLecPauseCnt" resultType="Integer">
        SELECT PAUSE_CNT FROM T_ORDER_LEC WHERE J_LEC_KEY = #{jLecKey}
    </select>

    <select id="selectVideoOnlinePauseList" resultType="OnlineVideoPauseVO">
        SELECT
            B.J_KEY,
            A.J_G_KEY,
            A.G_KEY,
            TO_CHAR(E.start_dt, 'YYYY-MM-DD') as startDate,
            TO_CHAR((E.start_dt + E.limit_day), 'YYYY-MM-DD') as endDate,
            TO_CHAR(E.PAUSE_START_DT, 'YYYY-MM-DD') as stopStartDate,
            TO_CHAR((E.PAUSE_START_DT + E.PAUSE_DAY), 'YYYY-MM-DD') as stopEndDate,
            ( SELECT Z.name FROM t_category Z WHERE Z.ctg_key = D.step_ctg_key ) as ctgName,
            C.NAME,
            A.KIND,
            E.J_LEC_KEY,
            E.PAUSE_CNT,
            E.PAUSE_DAY
        FROM T_ORDER_GOODS A
        INNER JOIN T_ORDER B
        ON A.J_KEY = B.J_KEY
        INNER JOIN T_GOODS C
        ON A.G_KEY = C.G_KEY
        INNER JOIN T_LEC D
        ON C.G_KEY = D.G_KEY
        INNER JOIN T_ORDER_LEC E
        ON A.J_G_KEY = E.J_G_KEY
        WHERE 1=1
        AND B.user_key = #{userKey}
        AND B.pay_status = 2
        AND A.j_pm_key = 0
        AND E.PAUSE_DAY > 0
        <![CDATA[
            AND TO_CHAR(E.start_dt, 'YYYY-MM-DD') <= TO_CHAR(sysdate, 'YYYY-MM-DD')
        ]]>
        <![CDATA[
            AND TO_CHAR( (E.start_dt + E.limit_day), 'YYYY-MM-DD') >= TO_CHAR(sysdate, 'YYYY-MM-DD')
        ]]>
        ORDER BY A.STEP_CTG_KEY ASC
    </select>

    <select id="selectVideoOnlineEndList" resultType="OnlineVideoEndVO">
        SELECT
            B.J_KEY,
            A.J_G_KEY,
            A.G_KEY,
            E.LIMIT_DAY,
            E.PAUSE_TOTAL_DAY,
            TO_CHAR(E.START_DT, 'YYYY-MM-DD') as startDate,
            TO_CHAR((E.START_DT + E.LIMIT_DAY + E.PAUSE_TOTAL_DAY), 'YYYY-MM-DD') as endDate,
            ( SELECT Z.NAME FROM T_CATEGORY Z WHERE Z.CTG_KEY = D.STEP_CTG_KEY ) as ctgName,
            C.NAME,
            A.KIND,
            E.J_LEC_KEY,
            E.PAUSE_CNT,
            E.PAUSE_DAY,
            A.EXTEND_DAY,
            A.J_PM_KEY
        FROM T_ORDER_GOODS A
        INNER JOIN T_ORDER B
        ON A.J_KEY = B.J_KEY
        INNER JOIN T_GOODS C
        ON A.G_KEY = C.G_KEY
        INNER JOIN T_LEC D
        ON C.G_KEY = D.G_KEY
        INNER JOIN T_ORDER_LEC E
        ON A.J_G_KEY = E.J_G_KEY
        WHERE 1=1
        AND B.USER_KEY = #{userKey}
        AND B.PAY_TYPE NOT IN (20)
        AND B.PAY_STATUS = 2
        AND E.STATUS = 3
        ORDER BY A.J_G_KEY ASC
    </select>

    <select id="selectVideoSubjectCount" resultType="Integer">
        SELECT COUNT(A.LEC_KEY)
        FROM T_LEC_CURRI A
        INNER JOIN T_LEC B
        ON A.LEC_KEY = B.LEC_KEY
        WHERE G_KEY = #{gKey}
    </select>

    <update id="updateTOrderLecPauseCnt" parameterType="Integer">
        UPDATE T_ORDER_LEC
        <set>
            <if test="pauseDay == 0">
                PAUSE_START_DT = '',
            </if>
            <if test="pauseDay > 0">
                PAUSE_START_DT = sysdate,
                PAUSE_CNT = PAUSE_CNT + 1,
            </if>
            PAUSE_DAY = #{pauseDay}
        </set>
        WHERE J_LEC_KEY = #{jLecKey}
    </update>

    <insert id="insertTOrderLecStartStopLog" parameterType="TOrderLecStartStopLogVO">
        <selectKey resultType="Integer" keyProperty="idx" order="BEFORE">
            SELECT T_ORDER_LEC_START_STOP_LOG_SEQ.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO T_ORDER_LEC_START_STOP_LOG
        (
            IDX, J_LEC_KEY, LOG_TYPE
        )
        VALUES
        (
            #{idx}, #{jLecKey}, #{logType}
        )
    </insert>
</mapper>
