<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zianedu.api.mapper.TeacherMapper">

    <resultMap id="teacherHomeLectureMap" type="TeacherHomeLectureVO">
        <result property="stepCtgKey" column="STEP_CTG_KEY"/>
        <result property="ctgName" column="CTG_NAME"/>
        <collection property="teacherLectureList" javaType="java.util.ArrayList" resultMap="teacherLectureListMap"/>
    </resultMap>
    <resultMap id="teacherLectureListMap" type="TeacherHomeLectureListVO">
        <result property="gKey" column="G_KEY"/>
        <result property="goodsName" column="goodsName"/>
        <result property="price" column="PRICE"/>
        <result property="sellPrice" column="SELL_PRICE"/>
        <result property="lecCount" column="lecCount"/>
        <result property="limitDay" column="LIMIT_DAY"/>
        <result property="lowVideo" column="lowVideo"/>
        <result property="highVideo" column="highVideo"/>
        <result property="curriKey" column="curriKey"/>
        <result property="imageTeacherList" column="IMAGE_TEACHER_LIST"/>
    </resultMap>

    <resultMap id="teacherHomeAcademyMap" type="TeacherHomeAcademyVO">
        <result property="stepCtgKey" column="STEP_CTG_KEY"/>
        <result property="ctgName" column="CTG_NAME"/>
        <collection property="teacherAcademyList" javaType="java.util.ArrayList" resultMap="teacherAcademyListMap"/>
    </resultMap>
    <resultMap id="teacherAcademyListMap" type="TeacherHomeAcademyListVO">
        <result property="gKey" column="G_KEY"/>
        <result property="ctgName" column="CTG_NAME"/>
        <result property="emphasis" column="EMPHASIS"/>
        <result property="goodsName" column="goodsName"/>
        <result property="sellPriceName" column="sellPriceName"/>
        <result property="kind" column="KIND"/>
        <result property="priceKey" column="PRICE_KEY"/>
        <result property="lectureDate" column="lectureDate"/>
        <result property="imageTeacherList" column="IMAGE_TEACHER_LIST"/>
        <result property="price" column="PRICE"/>
        <result property="sellPrice" column="SELL_PRICE"/>
    </resultMap>

    <resultMap id="teacherIntroduceMap" type="TeacherIntroduceVO">
        <result property="ctgName" column="CTG_NAME"/>
        <result property="ctgKey" column="ctgKey"/>
        <collection property="teacherIntroduceList" javaType="java.util.ArrayList" resultMap="teacherIntroduceListMap"/>
    </resultMap>
    <resultMap id="teacherIntroduceListMap" type="TeacherIntroduceListVO">
        <result property="teacherKey" column="TEACHER_KEY"/>
        <result property="teacherName" column="TEACHER_NAME"/>
        <result property="sampleVodFile" column="SAMPLE_VOD_FILE"/>
        <result property="imageList" column="IMAGE_LIST"/>
    </resultMap>

    <select id="selectTeacherInfo" resultType="TTeacherVO">
        SELECT * FROM T_TEACHER WHERE TEACHER_KEY = #{teacherKey}
    </select>

    <select id="selectTeacherNameSubjectName" resultType="TeacherNameSubjectVO">
        SELECT
            D.NAME as teacherName,
            B.NAME as subjectName
        FROM T_LINK_KEY A
        INNER JOIN T_CATEGORY B
        ON A.REQ_KEY = B.CTG_KEY
        INNER JOIN T_TEACHER C
        ON A.RES_KEY = C.TEACHER_KEY
        INNER JOIN T_USER D
        ON C.USER_KEY = D.USER_KEY
        WHERE A.REQ_TYPE = 100
        AND A.RES_TYPE = 200
        AND C.TEACHER_KEY = #{teacherKey}
        AND A.REQ_KEY = #{reqKey}
    </select>

    <select id="selectTeacherIntroduceInfo" resultType="String">
        SELECT VALUE_TEXT as teacherIntroduce
        FROM T_RES A
        WHERE TYPE = 2
        AND A.KEY_00 = #{teacherKey}
        AND A.DEVICE = #{device}
        AND A.KEY_01 =
        (
            SELECT res_key as ctg_key
            FROM T_LINK_KEY
            WHERE REQ_TYPE = 100
            AND RES_TYPE = 100
            AND REQ_KEY = #{menuCtgKey}
        )
    </select>

    <select id="selectGoodsListAtTeacherHome" resultType="GoodsListVO">
        -- 겸업 강사 시 추가 LEFT OUTER JOIN T_CATEGORY_GOODS D ON A.g_key = D.g_key --AND D.CTG_KEY
        SELECT  A.G_KEY, B.LEC_KEY, C.NAME as ctgName, A.NAME as goodsName, A.emphasis,  B.LIMIT_COUNT, B.LIMIT_DAY,
                (
                   SELECT * FROM (
                        SELECT T.vod_file_low
                        FROM T_LEC_CURRI T
                        WHERE T.LEC_KEY = B.LEC_KEY
                        ORDER BY T.curri_key ASC
                    ) WHERE ROWNUM = 1
                ) as lowVideo,
                (
                   SELECT * FROM (
                        SELECT T.vod_file_high
                        FROM T_LEC_CURRI T
                        WHERE T.LEC_KEY = B.LEC_KEY
                        ORDER BY T.curri_key ASC
                    ) WHERE ROWNUM = 1
                ) as highVideo,
                (
                   SELECT * FROM (
                        SELECT T.CURRI_KEY
                        FROM T_LEC_CURRI T
                        WHERE T.LEC_KEY = B.LEC_KEY
                        ORDER BY T.curri_key ASC
                    ) WHERE ROWNUM = 1
                ) as curriKey
        FROM T_GOODS A
        INNER JOIN T_LEC B
        ON A.G_KEY = B.G_KEY
        INNER JOIN T_CATEGORY C
        ON B.STEP_CTG_KEY = C.CTG_KEY
        WHERE A.G_KEY IN ( SELECT G_KEY FROM T_GOODS_TEACHER_LINK WHERE TEACHER_KEY = #{teacherKey} )
        AND A.TYPE = #{type}
        AND A.IS_SHOW =1
        AND B.LIMIT_COUNT > 0
        ORDER BY A.G_KEY DESC
    </select>

    <select id="selectTeacherBookList" resultType="BannerBookVO">
        SELECT A.G_KEY, A.NAME as bookName, B.WRITER, TO_CHAR(B.PUBLISH_DATE, 'YYYY-MM-DD') as publishDate,
               C.NAME as bookCompanyName, B.SUBJECT_CTG_KEY, A.IMAGE_LIST
        FROM T_GOODS A
        INNER JOIN T_BOOK B
        ON A.G_KEY = B.G_KEY
        INNER JOIN T_CP C
        ON A.CP_KEY = C.CP_KEY
        WHERE A.TYPE = 3
        AND B.WRITER LIKE '%'||(SELECT NAME FROM T_USER T INNER JOIN T_TEACHER TT ON T.USER_KEY = TT.USER_KEY WHERE TT.TEACHER_KEY = #{teacherKey}) || '%'
        AND A.IS_SHOW = 1
        AND A.IS_SELL = 1
        ORDER BY A.G_KEY DESC
    </select>

    <select id="selectTeacherVideoLectureList" resultMap="teacherHomeLectureMap">
        SELECT Z.*
        FROM (
                SELECT A.G_KEY, C.STEP_CTG_KEY, D.NAME as ctgName, A.EMPHASIS, A.NAME as goodsName,
                        (SELECT COUNT(LEC_KEY) FROM T_LEC_CURRI Z WHERE Z.LEC_KEY = C.LEC_KEY) as lecCount, C.LIMIT_DAY, E.IMAGE_TEACHER_LIST,
                        CONCAT('http://zianedu.star.skcdn.com/',
                        (
                            SELECT * FROM (
                            SELECT T.VOD_FILE_LOW
                            FROM T_LEC_CURRI T
                            WHERE T.LEC_KEY = C.LEC_KEY
                            ORDER BY T.CURRI_KEY ASC
                            ) WHERE ROWNUM = 1
                        ))  as lowVideo,
                        CONCAT('http://zianedu.star.skcdn.com/',
                            (
                            SELECT * FROM (
                            SELECT T.VOD_FILE_HIGH
                            FROM T_LEC_CURRI T
                            WHERE T.LEC_KEY = C.LEC_KEY
                            ORDER BY T.CURRI_KEY ASC
                            ) WHERE ROWNUM = 1
                        ))  as highVideo,
                         (
                           SELECT * FROM (
                                SELECT T.CURRI_KEY
                                FROM T_LEC_CURRI T
                                WHERE T.LEC_KEY = C.LEC_KEY
                                ORDER BY T.CURRI_KEY ASC
                            ) WHERE ROWNUM = 1
                        ) as curriKey
                FROM T_GOODS A
                INNER JOIN T_GOODS_TEACHER_LINK B
                ON A.G_KEY = B.G_KEY
                INNER JOIN T_LEC C
                ON A.G_KEY = C.G_KEY
                INNER JOIN T_CATEGORY D
                ON C.STEP_CTG_KEY = D.CTG_KEY
                INNER JOIN T_TEACHER E
                ON B.TEACHER_KEY = E.TEACHER_KEY
                INNER JOIN T_USER F
                ON E.USER_KEY = F.USER_KEY
                WHERE 1=1
                AND E.TEACHER_KEY = #{teacherKey}
                AND A.TYPE = 1
                AND A.IS_SHOW = 1
                AND A.IS_SELL =1
        ) Z
        WHERE 1=1
        <if test="stepCtgKey > 0">
            AND Z.STEP_CTG_KEY = #{stepCtgKey}
        </if>
        ORDER BY Z.STEP_CTG_KEY ASC, Z.G_KEY DESC
    </select>

    <select id="selectTeacherAcademyLectureList" resultMap="teacherHomeAcademyMap">
        SELECT Z.*
        FROM (
                SELECT A.G_KEY, C.STEP_CTG_KEY, D.NAME as ctgName, A.EMPHASIS, A.NAME as goodsName,
                       (SELECT COUNT(LEC_KEY) FROM T_LEC_CURRI Z WHERE Z.LEC_KEY = C.LEC_KEY) as lecCount, C.LIMIT_DAY, E.IMAGE_TEACHER_LIST, G.KIND, G.PRICE_KEY,
                        CONCAT( CONCAT( TO_CHAR(C.STARTDATE, 'YYYY-MM-DD'), ' ~ '),  TO_CHAR(C.STARTDATE + C.LIMIT_DAY, 'YYYY-MM-DD')) as lectureDate,
                       TRIM ( TO_CHAR(G.SELL_PRICE, '999,999') ) as sellPriceName, G.PRICE, G.SELL_PRICE
                FROM T_GOODS A
                INNER JOIN T_GOODS_TEACHER_LINK B
                ON A.G_KEY = B.G_KEY
                INNER JOIN T_LEC C
                ON A.G_KEY = C.G_KEY
                INNER JOIN T_CATEGORY D
                ON C.STEP_CTG_KEY = D.CTG_KEY
                INNER JOIN T_TEACHER E
                ON B.TEACHER_KEY = E.TEACHER_KEY
                INNER JOIN T_USER F
                ON E.USER_KEY = F.USER_KEY
                INNER JOIN T_GOODS_PRICE_OPTION G
                ON A.G_KEY = G.G_KEY
                WHERE 1=1
                AND E.TEACHER_KEY = #{teacherKey}
                AND A.TYPE = 2
                AND A.IS_SHOW = 1
                AND A.IS_SELL =1
        ) Z
        WHERE 1=1
        <if test="stepCtgKey > 0">
            AND Z.STEP_CTG_KEY = #{stepCtgKey}
        </if>
        ORDER BY Z.STEP_CTG_KEY ASC, Z.G_KEY DESC
    </select>

    <select id="selectTeacherIntroduce" resultMap="teacherIntroduceMap">
        SELECT
            A.REQ_KEY as ctgKey,
            C.TEACHER_KEY,
            D.NAME as teacherName,
            B.NAME as ctgName,
            C.SAMPLE_VOD_FILE,
            C.IMAGE_LIST
        FROM T_LINK_KEY A
        INNER JOIN T_CATEGORY B
        ON A.REQ_KEY = B.CTG_KEY
        INNER JOIN T_TEACHER C
        ON A.RES_KEY = C.TEACHER_KEY
        INNER JOIN T_USER D
        ON C.USER_KEY = D.USER_KEY
        WHERE A.REQ_TYPE = 100
        AND A.RES_TYPE = 200
        <if test="pos == 0">
            AND A.REQ_KEY IN (
                SELECT CTG_KEY FROM T_CATEGORY WHERE PARENT_KEY = #{ctgKey}
            )
        </if>
        <if test="pos > 0">
            AND A.REQ_KEY = #{ctgKey}
        </if>
        ORDER BY A.REQ_KEY ASC, C.TEACHER_KEY ASC
    </select>

    <select id="selectTeacherVideoAcademyProductList" resultType="TeacherVideoAcademyProductVO">
        SELECT T.G_KEY, CONCAT( T.goodsType, T.NAME) as goodsName
        FROM (
            SELECT B.G_KEY, B.NAME, (SELECT COUNT(G_REVIEW_KEY) FROM T_GOODS_REVIEW Z WHERE Z.G_KEY = B.G_KEY) as reviewCnt, B.TYPE,
                   CASE B.TYPE WHEN 1 THEN '[온라인강좌]' WHEN 2 THEN '[학원강의]' END as goodsType
            FROM T_GOODS_TEACHER_LINK A
            INNER JOIN T_GOODS B
            ON A.G_KEY = B.G_KEY
            WHERE A.TEACHER_KEY = #{teacherKey}
            AND B.TYPE IN (1,2)
            ORDER BY B.G_KEY DESC
        ) T
    </select>

    <select id="selectTeacherLecTureList" resultType="GoodsListVO">
        SELECT A.G_KEY, A.NAME as goodsName
        FROM T_GOODS A
        INNER JOIN T_GOODS_TEACHER_LINK B ON A.G_KEY = B.G_KEY
        WHERE A.IS_SHOW =1
            AND A.IS_SELL=1
            AND B.TEACHER_KEY = #{teacherKey}
        GROUP BY A.G_KEY, A.NAME
        ORDER BY A.G_KEY DESC
    </select>

    <select id="selectGoodsReviewDetailInfo" resultType="GoodsReviewVO">
        SELECT C.NAME, C.USER_ID, A.G_REVIEW_KEY, A.G_KEY, A.INDATE, A.USER_KEY, A.TITLE, A.CONTENTS, A.POINT
        FROM T_GOODS_REVIEW A
        INNER JOIN T_GOODS_TEACHER_LINK B ON A.G_KEY = B.G_KEY
        INNER JOIN T_USER C ON A.USER_KEY = C.USER_KEY
        WHERE B.TEACHER_KEY = #{teacherKey}
            AND A.G_REVIEW_KEY = #{gReviewKey}
    </select>


    <select id="getTeacherKeyOfJLecKey" resultType="int">
        SELECT c.TEACHER_KEY
        FROM T_ORDER_LEC A
        INNER JOIN T_ORDER_GOODS B ON A.J_G_KEY=B.J_G_KEY
        INNER JOIN T_GOODS_TEACHER_LINK C ON B.G_KEY=C.G_KEY
        WHERE A.J_LEC_KEY = #{jlecKey}
    </select>
</mapper>
