<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zianedu.api.mapper.UserMapper">

    <select id="selectUserInfo" resultType="TUserVO">
        SELECT Z.*,
                ( SELECT COUNT(T.CART_KEY) FROM T_CART T
                  WHERE T.USER_KEY = Z.USER_KEY AND T.IS_DELETE = 0
                  AND T.IS_DIRECT = 0
                  AND J_ID IS NULL
                ) AS cartCount
        FROM
            (
            SELECT
                USER_KEY, USER_ID, INDATE, NAME, AUTHORITY, BIRTH, LUNAR, GENDER, TELEPHONE, TELEPHONE_MOBILE,
                ZIPCODE, ADDRESS_ROAD, ADDRESS_NUMBER, ADDRESS, EMAIL, INTEREST_CTG_KEY_0, INTEREST_CTG_KEY_1, GRADE
            FROM T_USER
            WHERE 1=1
            AND USER_ID = #{userId}
            AND USER_PWD = #{userPwd}
        ) Z

    </select>

    <select id="selectUserCount" resultType="Integer">
        SELECT COUNT ( USER_KEY ) FROM T_USER
        WHERE 1=1
        AND USER_ID = #{userId}
        AND USER_PWD = #{userPwd}
    </select>

    <select id="selectDuplicatedUserId" resultType="Integer">
        SELECT COUNT ( USER_KEY ) FROM T_USER
        WHERE 1=1
        AND USER_ID = #{userId}
    </select>

    <select id="selectUserInfoByUserKey" resultType="TUserVO">
        SELECT
            USER_KEY, USER_ID, INDATE, NAME, AUTHORITY, BIRTH, EMAIL, LUNAR, TELEPHONE, TELEPHONE_MOBILE, ZIPCODE,
            RECV_SMS, RECV_EMAIL, ZIPCODE, ADDRESS_ROAD, ADDRESS_NUMBER, ADDRESS, INTEREST_CTG_KEY_0
        FROM T_USER
        WHERE 1=1
        AND USER_KEY = #{userKey}
    </select>

    <select id="selectUserInfoAtSecession" resultType="TUserVO">
        SELECT
            USER_KEY, USER_ID, INDATE, NAME, AUTHORITY, BIRTH, EMAIL, LUNAR, TELEPHONE, TELEPHONE_MOBILE, ZIPCODE,
            RECV_SMS, RECV_EMAIL, ZIPCODE, ADDRESS_ROAD, ADDRESS_NUMBER, ADDRESS, INTEREST_CTG_KEY_0
        FROM T_USER
        WHERE 1=1
        AND NAME = #{userName}
        AND USER_ID = #{userId}
        AND USER_PWD = #{userPassword}
    </select>

    <select id="selectUserCountAtChangePasswd" resultType="Integer">
        SELECT COUNT ( USER_KEY ) FROM T_USER
        WHERE 1=1
        AND USER_KEY = #{userKey}
        AND USER_PWD = #{userPwd}
    </select>

    <select id="selectUserCurrentPoint" resultType="Integer">
         SELECT NVL( SUM(POINT), 0 ) as userPoint
         FROM T_POINT WHERE USER_KEY = #{userKey}
    </select>

    <select id="selectDeviceLimitLogCount" resultType="int">
        SELECT COUNT(DEVICE_LOG_KEY)
        FROM T_DEVICE_LIMIT_LOG
        WHERE TYPE = #{deviceType}
        AND USER_KEY = #{userKey}
    </select>

    <select id="selectDeviceChangeCodeCount" resultType="int">
        SELECT COUNT (IDX)
        FROM T_DEVICE_CHANGE_CODE
        WHERE USER_KEY = #{userKey}
        AND REQUEST_CODE = #{code}
        AND APPLY_YN = 0
    </select>

    <select id="selectDeviceChangeCodeCountByRequestDate" resultType="int">
       SELECT COUNT(IDX)
        FROM T_DEVICE_CHANGE_CODE
        WHERE USER_KEY = #{userKey}
        AND REQUEST_CODE = #{code}
        <![CDATA[
           AND (REQUEST_DATE + 5 / (24 * 60)) >= sysdate
        ]]>
    </select>

    <select id="selectDeviceChangeCodeInfo" resultType="TDeviceChangeCodeVO">
        SELECT * FROM T_DEVICE_CHANGE_CODE
        WHERE USER_KEY = #{userKey}
        AND REQUEST_CODE = #{code}
    </select>

    <select id="selectTDeviceLimitInfo" resultType="TDeviceLimitVO">
        SELECT * FROM T_DEVICE_LIMIT
        WHERE USER_KEY = #{userKey}
        AND TYPE = #{deviceType}
    </select>

    <insert id="insertUserInfo" parameterType="TUserVO">
        <selectKey resultType="Integer" keyProperty="userKey" order="BEFORE">
            SELECT T_USER_SEQ.nextval FROM DUAL
        </selectKey>
        INSERT INTO T_USER
        (
            USER_KEY, C_KEY, USER_ID, INDATE, NAME, AUTHORITY, STATUS, PWD, GENDER,
            TELEPHONE_MOBILE, ZIPCODE, ADDRESS_ROAD, ADDRESS_NUMBER, ADDRESS, EMAIL, RECV_EMAIL,
            WELFARE_DC_PERCENT, GRADE, INTEREST_CTG_KEY_0, INTEREST_CTG_KEY_1,
            ADMIN_AUTHORITY_KEY, GRADE_G_KEY, GRADE_PRICE, USER_PWD, CERT_CODE
        )
        VALUES
        (
            #{userKey}, 100, #{userId}, TO_DATE(#{indate}, 'YYYY-mm-dd hh24:mi:ss'), #{name}, #{authority}, 10, #{pwd}, #{gender},
            #{telephoneMobile}, #{zipcode}, #{addressRoad}, #{addressNumber}, #{address}, #{email}, #{recvEmail},
            0, #{grade}, #{interestCtgKey0}, 0,
            #{adminAuthorityKey}, 0, #{gradePrice}, #{userPwd}, #{certCode}
        )
    </insert>

    <insert id="insertUserSecession" parameterType="TUserSecessionVO">
        <selectKey resultType="Integer" keyProperty="secessionKey" order="BEFORE">
            SELECT T_USER_SECESSION_SEQ.nextval FROM DUAL
        </selectKey>
        INSERT INTO T_USER_SECESSION
        (
            SECESSION_KEY, C_KEY, USER_KEY, USER_ID, NAME, INDATE, REASON, MEMO, OBTAIN_DATE
        )
        VALUES
        (
            #{secessionKey}, #{cKey}, #{userKey}, #{userId}, #{name}, sysdate, #{reason}, #{memo}, sysdate
        )
    </insert>

    <insert id="insertDeviceChangeCode" parameterType="TDeviceChangeCodeVO">
        <selectKey resultType="Integer" keyProperty="idx" order="BEFORE">
            SELECT T_DEVICE_CHANGE_CODE_SEQ.nextval FROM DUAL
        </selectKey>
        INSERT INTO T_DEVICE_CHANGE_CODE
        (
            IDX, USER_KEY, REQUEST_CODE, DEVICE_TYPE, SEND_EMAIL_ADDRESS
        )
        VALUES
        (
            #{idx}, #{userKey}, #{requestCode}, #{deviceType}, #{sendEmailAddress}
        )
    </insert>

    <insert id="insertTDeviceLimitLog" parameterType="TDeviceLimitLogVO">
        <selectKey resultType="int" keyProperty="deviceLogKey" order="BEFORE">
            SELECT T_DEVICE_LIMIT_LOG_SEQ.nextval FROM DUAL
        </selectKey>
        INSERT INTO T_DEVICE_LIMIT_LOG
        (
            DEVICE_LOG_KEY, DEVICE_LIMIT_KEY, C_KEY, USER_KEY, INDATE,
            DELETE_DATE, TYPE, DATA_KEY, DEVICE_ID, DEVICE_MODEL, OS_VERSION, APP_VERSION
        )
        VALUES
        (
            #{deviceLogKey}, #{deviceLimitKey}, #{cKey}, #{userKey}, TO_DATE(#{indate}, 'YYYY-mm-dd hh24:mi:ss'),
            TO_DATE(#{deleteDate}, 'YYYY-mm-dd hh24:mi:ss'), #{type}, #{dataKey}, #{deviceId}, #{deviceModel}, #{osVersion}, #{appVersion}
        )
    </insert>

    <update id="updateUserInfo" parameterType="TUserVO">
        UPDATE T_USER
        <set>
            <if test="birth != null and birth != ''">BIRTH = #{birth},</if>
            <if test="email != null and email != ''">EMAIL = #{email},</if>
            <if test="telephone != null and telephone != ''">TELEPHONE = #{telephone},</if>
            <if test="telephoneMobile != null and telephoneMobile != ''">TELEPHONE_MOBILE = #{telephoneMobile},</if>
            <if test="recvSms != null and recvSms > -1">RECV_SMS = #{recvSms},</if>
            <if test="recvEmail != null and recvEmail > -1">RECV_EMAIL = #{recvEmail},</if>
            <if test="zipcode != null and zipcode != ''">ZIPCODE = #{zipcode},</if>
            <if test="addressRoad != null and addressRoad != ''">ADDRESS_ROAD = #{addressRoad},</if>
            <if test="addressNumber != null and addressNumber != ''">ADDRESS_NUMBER = #{addressNumber},</if>
            <if test="address != null and address != ''">ADDRESS = #{address},</if>
            <if test="interestCtgKey0 != null and interestCtgKey0 > -1">INTEREST_CTG_KEY_0 = #{interestCtgKey0},</if>
        </set>
        WHERE USER_KEY = #{userKey}
    </update>

    <update id="updateUserPassword">
        UPDATE T_USER
        <set>
            <if test="userPwd != null and userPwd != ''">USER_PWD = #{userPwd},</if>
        </set>
        WHERE USER_KEY = #{userKey}
    </update>

    <update id="updateTDeviceChangeCode">
        UPDATE T_DEVICE_CHANGE_CODE
        SET APPLY_YN = 1, APPLY_DATE = sysdate
        WHERE IDX = #{idx}
    </update>

    <delete id="deleteTDeviceLimit">
        DELETE FROM T_DEVICE_LIMIT WHERE DEVICE_LIMIT_KEY = #{deviceLimitKey}
    </delete>

</mapper>
